@use 'tokens/styles/variables/prefix'as prefix;

@layer base {

.prose > h4, h4.prose {
  font-family: var(--#{prefix.$cssVar}-h4-font-family);
  font-size: var(--#{prefix.$cssVar}-h4-font-size);
  font-weight: var(--#{prefix.$cssVar}-h4-font-weight);
  line-height: var(--#{prefix.$cssVar}-h4-line-height);
  letter-spacing: var(--#{prefix.$cssVar}-h4-letter-spacing);
  max-width: var(--#{prefix.$cssVar}-h4-measure);
  color: var(--#{prefix.$cssVar}-h4-color);
  font-style: var(--#{prefix.$cssVar}-h4-font-style);
  text-transform: var(--#{prefix.$cssVar}-h4-text-transform);
}

.prose>*+h4 {
  margin-top:var(--#{prefix.$cssVar}-h4-spacing-before);
}

.prose>h4+*, h4.prose+* {
  margin-top:var(--#{prefix.$cssVar}-h4-spacing-after);
}

} // @layer base