@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Merriweather:wght@300..900&family=DM+Serif+Display&family=Fira+Code:wght@300..700&display=swap');
:root {
  --zbk-btn-line-height: var(--zbk-line-height-5);
  --zbk-btn-xs-line-height: var(--zbk-line-height-2);
  --zbk-btn-sm-line-height: var(--zbk-line-height-3);
  --zbk-btn-lg-line-height: var(--zbk-line-height-3);
  --zbk-btn-font-size: var(--zbk-font-size-xl);
  --zbk-btn-xs-font-size: var(--zbk-font-size-xs);
  --zbk-btn-sm-font-size: var(--zbk-font-size-3xl);
  --zbk-btn-lg-font-size: var(--zbk-font-size-2xs);
  --zbk-btn-font-family: var(--zbk-font-family-interface);
  --zbk-btn-xs-font-family: var(--zbk-btn-font-family);
  --zbk-btn-sm-font-family: var(--zbk-font-family-monospace);
  --zbk-btn-lg-font-family: var(--zbk-btn-font-family);
  --zbk-btn-border-radius: var(--zbk-border-radius-xl);
  --zbk-btn-xs-border-radius: var(--zbk-border-radius-xs);
  --zbk-btn-sm-border-radius: var(--zbk-border-radius-sm);
  --zbk-btn-lg-border-radius: var(--zbk-border-radius-md);
  --zbk-btn-padding-x: var(--zbk-spacing-10);
  --zbk-btn-padding-y: var(--zbk-gap-sm);
  --zbk-btn-xs-padding-x: var(--zbk-gap-xs);
  --zbk-btn-xs-padding-y: var(--zbk-gap-2xs);
  --zbk-btn-sm-padding-x: var(--zbk-gap-sm);
  --zbk-btn-sm-padding-y: var(--zbk-gap-xs);
  --zbk-btn-lg-padding-x: var(--zbk-gap-lg);
  --zbk-btn-lg-padding-y: var(--zbk-gap-md);
  --zbk-btn-icon-stroke-width: 2.25;
  --zbk-btn-icon-font-size: var(--zbk-font-size-md);
  --zbk-btn-xs-icon-font-size: var(--zbk-font-size-xs);
  --zbk-btn-sm-icon-font-size: var(--zbk-font-size-sm);
  --zbk-btn-lg-icon-font-size: var(--zbk-font-size-lg);
  --zbk-btn-border-width: var(--zbk-border-width-md);
  --zbk-btn-xs-border-width: var(--zbk-border-width-sm);
  --zbk-btn-sm-border-width: var(--zbk-border-width-sm);
  --zbk-btn-lg-border-width: var(--zbk-border-width-lg);
  --zbk-btn-raised-amount: 1;
  --zbk-btn-background: var(--zbk-primary);
  --zbk-btn-background-hover: var(--zbk-primary-100);
  --zbk-btn-border-color-selected: var(--zbk-accent);
  --zbk-btn-border-color: var(--zbk-accent);
  --zbk-btn-border-color-hover: var(--zbk-accent);
  --zbk-btn-foreground: var(--zbk-ink);
  --zbk-btn-focus-color: var(--zbk-accent);
  --zbk-btn-gap: var(--zbk-gap-sm);
  --zbk-btn-offset-color: var(--zbk-accent);
  --zbk-checkbox-size: var(--zbk-spacing-205);
  --zbk-checkbox-border-radius: var(--zbk-border-radius-xs);
  --zbk-checkbox-border-width: var(--zbk-border-width-md);
  --zbk-checkbox-background: var(--zbk-body-background);
  --zbk-checkbox-background-checked: var(--zbk-accent);
  --zbk-checkbox-background-indeterminate: var(--zbk-accent);
  --zbk-checkbox-border-color: var(--zbk-accent-400);
  --zbk-checkbox-border-color-hover: var(--zbk-accent-500);
  --zbk-checkbox-border-color-active: var(--zbk-accent);
  --zbk-checkbox-border-color-disabled: var(--zbk-accent-200);
  --zbk-checkbox-indicator-stroke-width: var(--zbk-border-width-sm);
  --zbk-checkbox-indicator-color: var(--zbk-reverse-ink);
  --zbk-checkbox-indicator-disabled-color: var(--zbk-accent-300);
  --zbk-checkbox-indeterminate-bar-height: var(--zbk-border-width-lg);
  --zbk-checkbox-indeterminate-bar-radius: var(--zbk-border-radius-pill);
  --zbk-checkbox-focus-ring-color: var(--zbk-focus-color);
  --zbk-checkbox-focus-ring-width: var(--zbk-border-width-lg);
  --zbk-checkbox-focus-ring-offset: var(--zbk-spacing-05);
  --zbk-checkbox-transition-timing-function: ease;
  --zbk-checkbox-disabled-opacity: 0.7;
  --zbk-checkbox-label-color: var(--zbk-ink);
  --zbk-checkbox-label-disabled-color: var(--zbk-accent-400);
  --zbk-checkbox-label-font-family: var(--zbk-font-family-interface);
  --zbk-checkbox-label-font-size: var(--zbk-font-size-md);
  --zbk-checkbox-label-font-weight: 400;
  --zbk-checkbox-label-line-height: var(--zbk-line-height-interface);
  --zbk-checkbox-label-letter-spacing: var(--zbk-letter-spacing-interface);
  --zbk-checkbox-label-gap: var(--zbk-spacing-1);
  --zbk-checkbox-transition-duration: 120ms;
  --zbk-font-family-primary: "Open Sans", sans-serif;
  --zbk-font-family-secondary: "Merriweather", serif;
  --zbk-font-family-alt: "DM Serif Display", serif;
  --zbk-font-family-monospace: "Fira Code", monospace;
  --zbk-font-family-interface: var(--zbk-font-family-primary);
  --zbk-font-family-heading: var(--zbk-font-family-secondary);
  --zbk-font-family-body: var(--zbk-font-family-primary);
  --zbk-font-family-code: var(--zbk-font-family-monospace);
  --zbk-line-height-1: calc(100% * var(--zbk-line-height-modifier, 1));
  --zbk-line-height-2: calc(115% * var(--zbk-line-height-modifier, 1));
  --zbk-line-height-3: calc(130% * var(--zbk-line-height-modifier, 1));
  --zbk-line-height-4: calc(150% * var(--zbk-line-height-modifier, 1));
  --zbk-line-height-5: calc(180% * var(--zbk-line-height-modifier, 1));
  --zbk-line-height-interface: var(--zbk-line-height-2);
  --zbk-line-height-heading: var(--zbk-line-height-3);
  --zbk-line-height-body: var(--zbk-line-height-4);
  --zbk-line-height-code: var(--zbk-line-height-5);
  --zbk-letter-spacing-neg-2: -.125rem;
  --zbk-letter-spacing-neg-1: -.05rem;
  --zbk-letter-spacing-0: 0;
  --zbk-letter-spacing-1: .05rem;
  --zbk-letter-spacing-2: .125rem;
  --zbk-letter-spacing-interface: var(--zbk-letter-spacing-1);
  --zbk-letter-spacing-heading: var(--zbk-letter-spacing-1);
  --zbk-letter-spacing-body: var(--zbk-letter-spacing-1);
  --zbk-letter-spacing-code: var(--zbk-letter-spacing-2);
  --zbk-radio-size: var(--zbk-spacing-205);
  --zbk-radio-border-radius: var(--zbk-border-radius-pill);
  --zbk-radio-border-width: var(--zbk-border-width-md);
  --zbk-radio-background: var(--zbk-body-background);
  --zbk-radio-background-checked: var(--zbk-accent);
  --zbk-radio-border-color: var(--zbk-accent-400);
  --zbk-radio-border-color-hover: var(--zbk-accent-500);
  --zbk-radio-border-color-active: var(--zbk-accent);
  --zbk-radio-border-color-disabled: var(--zbk-accent-200);
  --zbk-radio-indicator-size: var(--zbk-spacing-105);
  --zbk-radio-indicator-border-radius: var(--zbk-border-radius-pill);
  --zbk-radio-indicator-color: var(--zbk-reverse-ink);
  --zbk-radio-indicator-disabled-color: var(--zbk-accent-300);
  --zbk-radio-focus-ring-color: var(--zbk-focus-color);
  --zbk-radio-focus-ring-width: var(--zbk-border-width-lg);
  --zbk-radio-focus-ring-offset: var(--zbk-spacing-05);
  --zbk-radio-transition-timing-function: ease;
  --zbk-radio-transition-duration: 120ms;
  --zbk-radio-disabled-opacity: 0.7;
  --zbk-radio-label-color: var(--zbk-ink);
  --zbk-radio-label-disabled-color: var(--zbk-accent-400);
  --zbk-radio-label-font-family: var(--zbk-font-family-interface);
  --zbk-radio-label-font-size: var(--zbk-font-size-md);
  --zbk-radio-label-font-weight: 400;
  --zbk-radio-label-line-height: var(--zbk-line-height-interface);
  --zbk-radio-label-letter-spacing: var(--zbk-letter-spacing-interface);
  --zbk-radio-label-gap: var(--zbk-spacing-1);
  --zbk-viewport-modifier: .4vw;
  --zbk-font-size-spread: .4;
  --zbk-font-size-2xs-base: 10px;
  --zbk-font-size-2xs: clamp(calc( ( (var(--zbk-font-size-2xs-base) + var(--zbk-viewport-modifier, 1)) * (1 - var(--zbk-font-size-spread, .2)) ) *  var(--zbk-font-size-2xs-modifier, 1)), calc( ( var(--zbk-font-size-2xs-base) + var(--zbk-viewport-modifier, 1) ) *  var(--zbk-font-size-2xs-modifier, 1)), calc( ( (var(--zbk-font-size-2xs-base) + var(--zbk-viewport-modifier, 1)) * (1 + var(--zbk-font-size-spread, .2)) ) *  var(--zbk-font-size-2xs-modifier, 1)));
  --zbk-font-size-xs-base: 12px;
  --zbk-font-size-xs: clamp(calc( ( (var(--zbk-font-size-xs-base) + var(--zbk-viewport-modifier, 1)) * (1 - var(--zbk-font-size-spread, .2)) ) *  var(--zbk-font-size-xs-modifier, 1)), calc( ( var(--zbk-font-size-xs-base) + var(--zbk-viewport-modifier, 1) ) *  var(--zbk-font-size-xs-modifier, 1)), calc( ( (var(--zbk-font-size-xs-base) + var(--zbk-viewport-modifier, 1)) * (1 + var(--zbk-font-size-spread, .2)) ) *  var(--zbk-font-size-xs-modifier, 1)));
  --zbk-font-size-sm-base: 15px;
  --zbk-font-size-sm: clamp(calc( ( (var(--zbk-font-size-sm-base) + var(--zbk-viewport-modifier, 1)) * (1 - var(--zbk-font-size-spread, .2)) ) *  var(--zbk-font-size-sm-modifier, 1)), calc( ( var(--zbk-font-size-sm-base) + var(--zbk-viewport-modifier, 1) ) *  var(--zbk-font-size-sm-modifier, 1)), calc( ( (var(--zbk-font-size-sm-base) + var(--zbk-viewport-modifier, 1)) * (1 + var(--zbk-font-size-spread, .2)) ) *  var(--zbk-font-size-sm-modifier, 1)));
  --zbk-font-size-md-base: 18px;
  --zbk-font-size-md: clamp(calc( ( (var(--zbk-font-size-md-base) + var(--zbk-viewport-modifier, 1)) * (1 - var(--zbk-font-size-spread, .2)) ) *  var(--zbk-font-size-md-modifier, 1)), calc( ( var(--zbk-font-size-md-base) + var(--zbk-viewport-modifier, 1) ) *  var(--zbk-font-size-md-modifier, 1)), calc( ( (var(--zbk-font-size-md-base) + var(--zbk-viewport-modifier, 1)) * (1 + var(--zbk-font-size-spread, .2)) ) *  var(--zbk-font-size-md-modifier, 1)));
  --zbk-font-size-lg-base: 24px;
  --zbk-font-size-lg: clamp(calc( ( (var(--zbk-font-size-lg-base) + var(--zbk-viewport-modifier, 1)) * (1 - var(--zbk-font-size-spread, .2)) ) *  var(--zbk-font-size-lg-modifier, 1)), calc( ( var(--zbk-font-size-lg-base) + var(--zbk-viewport-modifier, 1) ) *  var(--zbk-font-size-lg-modifier, 1)), calc( ( (var(--zbk-font-size-lg-base) + var(--zbk-viewport-modifier, 1)) * (1 + var(--zbk-font-size-spread, .2)) ) *  var(--zbk-font-size-lg-modifier, 1)));
  --zbk-font-size-xl-base: 32px;
  --zbk-font-size-xl: clamp(calc( ( (var(--zbk-font-size-xl-base) + var(--zbk-viewport-modifier, 1)) * (1 - var(--zbk-font-size-spread, .2)) ) *  var(--zbk-font-size-xl-modifier, 1)), calc( ( var(--zbk-font-size-xl-base) + var(--zbk-viewport-modifier, 1) ) *  var(--zbk-font-size-xl-modifier, 1)), calc( ( (var(--zbk-font-size-xl-base) + var(--zbk-viewport-modifier, 1)) * (1 + var(--zbk-font-size-spread, .2)) ) *  var(--zbk-font-size-xl-modifier, 1)));
  --zbk-font-size-2xl-base: 44px;
  --zbk-font-size-2xl: clamp(calc( ( (var(--zbk-font-size-2xl-base) + var(--zbk-viewport-modifier, 1)) * (1 - var(--zbk-font-size-spread, .2)) ) *  var(--zbk-font-size-2xl-modifier, 1)), calc( ( var(--zbk-font-size-2xl-base) + var(--zbk-viewport-modifier, 1) ) *  var(--zbk-font-size-2xl-modifier, 1)), calc( ( (var(--zbk-font-size-2xl-base) + var(--zbk-viewport-modifier, 1)) * (1 + var(--zbk-font-size-spread, .2)) ) *  var(--zbk-font-size-2xl-modifier, 1)));
  --zbk-font-size-3xl-base: 68px;
  --zbk-font-size-3xl: clamp(calc( ( (var(--zbk-font-size-3xl-base) + var(--zbk-viewport-modifier, 1)) * (1 - var(--zbk-font-size-spread, .2)) ) *  var(--zbk-font-size-3xl-modifier, 1)), calc( ( var(--zbk-font-size-3xl-base) + var(--zbk-viewport-modifier, 1) ) *  var(--zbk-font-size-3xl-modifier, 1)), calc( ( (var(--zbk-font-size-3xl-base) + var(--zbk-viewport-modifier, 1)) * (1 + var(--zbk-font-size-spread, .2)) ) *  var(--zbk-font-size-3xl-modifier, 1)));
}