@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400..700&display=swap');

@layer theme, base, components, utilities;

@layer theme {
[data-zbk-theme="uber"] {
--zbk-text-measure-1: 32ch;
--zbk-text-measure-2: 45ch;
--zbk-text-measure-3: 60ch;
--zbk-text-measure-4: 72ch;
--zbk-text-measure-5: 85ch;
}
[data-zbk-theme="uber"] {
--zbk-line-height-1: calc(100% * var(--zbk-a11y-line-height-modifier));
--zbk-line-height-2: calc(125% * var(--zbk-a11y-line-height-modifier));
--zbk-line-height-3: calc(150% * var(--zbk-a11y-line-height-modifier));
--zbk-line-height-4: calc(180% * var(--zbk-a11y-line-height-modifier));
--zbk-line-height-5: calc(200% * var(--zbk-a11y-line-height-modifier));
}
[data-zbk-theme="uber"] {
--zbk-letter-spacing-tighter: calc(-.05rem * var(--zbk-a11y-letter-spacing-modifier));
--zbk-letter-spacing-tight: calc(-.025rem * var(--zbk-a11y-letter-spacing-modifier));
--zbk-letter-spacing-normal: calc(0rem * var(--zbk-a11y-letter-spacing-modifier));
--zbk-letter-spacing-wide: calc(.025rem * var(--zbk-a11y-letter-spacing-modifier));
--zbk-letter-spacing-wider: calc(.05rem * var(--zbk-a11y-letter-spacing-modifier));
}
[data-zbk-theme="uber"] {
--zbk-font-family-primary: "Manrope", sans-serif;
--zbk-font-family-alt: "Manrope", sans-serif;
--zbk-font-family-monospace: "JetBrains Mono", monospace;
--zbk-font-family-interface: var(--zbk-font-family-primary);
--zbk-font-family-heading: var(--zbk-font-family-alt);
--zbk-font-family-body: var(--zbk-font-family-primary);
--zbk-font-family-code: var(--zbk-font-family-monospace);
}
[data-zbk-theme="uber"] {
--zbk-font-weight-thin: 100;
--zbk-font-weight-extralight: 200;
--zbk-font-weight-light: 300;
--zbk-font-weight-normal: 400;
--zbk-font-weight-medium: 500;
--zbk-font-weight-semibold: 600;
--zbk-font-weight-bold: 700;
--zbk-font-weight-extrabold: 800;
--zbk-font-weight-black: 900;
}
[data-zbk-theme="uber"] {
--zbk-h1-font-family: var(--zbk-font-family-heading);
--zbk-h1-font-size: var(--zbk-font-size-3xl);
--zbk-h1-font-weight: var(--zbk-font-weight-bold);
--zbk-h1-line-height: 1.08;
--zbk-h1-letter-spacing: -0.02em;
--zbk-h1-measure: var(--zbk-text-measure-3);
--zbk-h1-spacing-before: 0.67em;
--zbk-h1-spacing-after: 0.67em;
--zbk-h1-color: var(--zbk-app-ink);
--zbk-h1-font-style: none;
--zbk-h1-text-transform: none;
}
[data-zbk-theme="uber"] {
--zbk-neutral-50: var(--zbk-color-stone-50);
--zbk-neutral-100: var(--zbk-color-stone-100);
--zbk-neutral-200: var(--zbk-color-stone-200);
--zbk-neutral-300: var(--zbk-color-stone-300);
--zbk-neutral-400: var(--zbk-color-stone-400);
--zbk-neutral-500: var(--zbk-color-stone-500);
--zbk-neutral-600: var(--zbk-color-stone-600);
--zbk-neutral-700: var(--zbk-color-stone-700);
--zbk-neutral-800: var(--zbk-color-stone-800);
--zbk-neutral-900: var(--zbk-color-stone-900);
--zbk-neutral-950: var(--zbk-color-stone-950);
}
[data-zbk-theme="uber"] {
--zbk-accent-secondary-50: #f6f6f6;
--zbk-accent-secondary-100: #eeeeee;
--zbk-accent-secondary-200: #e2e2e2;
--zbk-accent-secondary-300: #cbcbcb;
--zbk-accent-secondary-400: #afafaf;
--zbk-accent-secondary-500: #757575;
--zbk-accent-secondary-600: #6b6b6b;
--zbk-accent-secondary-700: #545454;
--zbk-accent-secondary-800: #333333;
--zbk-accent-secondary-900: #1a1a1a;
--zbk-accent-secondary-950: #000000;
}
[data-zbk-theme="uber"] {
--zbk-brand-50: var(--zbk-color-butterfield-50);
--zbk-brand-100: var(--zbk-color-butterfield-100);
--zbk-brand-200: var(--zbk-color-butterfield-200);
--zbk-brand-300: var(--zbk-color-butterfield-300);
--zbk-brand-400: var(--zbk-color-butterfield-400);
--zbk-brand-500: var(--zbk-color-butterfield-500);
--zbk-brand-600: var(--zbk-color-butterfield-600);
--zbk-brand-700: var(--zbk-color-butterfield-700);
--zbk-brand-800: var(--zbk-color-butterfield-800);
--zbk-brand-900: var(--zbk-color-butterfield-900);
--zbk-brand-950: var(--zbk-color-butterfield-950);
}
[data-zbk-theme="uber"] {
--zbk-accent-primary-50: #eff3fe;
--zbk-accent-primary-100: #d0ddfd;
--zbk-accent-primary-200: #a1bbfb;
--zbk-accent-primary-300: #7299f7;
--zbk-accent-primary-400: #4884f4;
--zbk-accent-primary-500: #276ef1;
--zbk-accent-primary-600: #1e54b7;
--zbk-accent-primary-700: #174291;
--zbk-accent-primary-800: #0f2c61;
--zbk-accent-primary-900: #081730;
--zbk-accent-primary-950: #040b18;
}
[data-zbk-theme="uber"] {
--zbk-disabled-canvas: var(--zbk-color-charcoal-400);
--zbk-disabled-canvas-soft: var(--zbk-color-charcoal-50);
--zbk-disabled-canvas-muted: var(--zbk-color-charcoal-200);
--zbk-disabled-canvas-strong: var(--zbk-color-charcoal-800);
--zbk-disabled-canvas-inverse: var(--zbk-color-charcoal-800);
--zbk-disabled-canvas-inverse-soft: var(--zbk-color-charcoal-950);
--zbk-disabled-canvas-inverse-muted: var(--zbk-color-charcoal-900);
--zbk-disabled-canvas-inverse-strong: var(--zbk-color-charcoal-200);
--zbk-disabled-ink: var(--zbk-color-charcoal-800);
--zbk-disabled-ink-soft: var(--zbk-color-charcoal-400);
--zbk-disabled-ink-muted: var(--zbk-color-charcoal-600);
--zbk-disabled-ink-inverse: var(--zbk-color-charcoal-200);
--zbk-disabled-ink-inverse-soft: var(--zbk-color-charcoal-500);
--zbk-disabled-ink-inverse-muted: var(--zbk-color-charcoal-800);
--zbk-disabled-border: var(--zbk-disabled-ink);
--zbk-disabled-border-soft: var(--zbk-disabled-ink-soft);
--zbk-disabled-border-muted: var(--zbk-disabled-ink-muted);
--zbk-disabled-border-strong: var(--zbk-disabled-ink);
--zbk-disabled-border-inverse: var(--zbk-disabled-ink-inverse);
--zbk-disabled-border-inverse-soft: var(--zbk-disabled-ink-inverse-soft);
--zbk-disabled-border-inverse-muted: var(--zbk-disabled-ink-inverse-muted);
--zbk-disabled-border-inverse-strong: var(--zbk-disabled-ink-inverse);
}
}

@layer base {
[data-zbk-theme="uber"] {
--zbk-transition-duration-default: calc(325ms * var(--zbk-a11y-transition-duration-modifier));
--zbk-transition-duration-slow: calc(625ms * var(--zbk-a11y-transition-duration-modifier));
--zbk-transition-duration-fast: calc(125ms * var(--zbk-a11y-transition-duration-modifier));
--zbk-transition-playful-motion-function-default: cubic-bezier(0.38, 1.21, 0.22, 1.00);
--zbk-transition-playful-motion-function-slow: cubic-bezier(0.39, 1.29, 0.35, 0.98);
--zbk-transition-playful-motion-function-fast: cubic-bezier(0.42, 1.67, 0.21, 0.90);
--zbk-transition-playful-motion-duration-default: calc(500ms * var(--zbk-a11y-transition-duration-modifier));
--zbk-transition-playful-motion-duration-slow: calc(650ms * var(--zbk-a11y-transition-duration-modifier));
--zbk-transition-playful-motion-duration-fast: calc(350ms * var(--zbk-a11y-transition-duration-modifier));
--zbk-transition-playful-fx-function-default: cubic-bezier(0.34, 0.80, 0.34, 1.00);
--zbk-transition-playful-fx-function-slow: cubic-bezier(0.34, 0.88, 0.34, 1.00);
--zbk-transition-playful-fx-function-fast: cubic-bezier(0.31, 0.94, 0.34, 1.00);
--zbk-transition-playful-fx-duration-default: calc(200ms * var(--zbk-a11y-transition-duration-modifier));
--zbk-transition-playful-fx-duration-slow: calc(300ms * var(--zbk-a11y-transition-duration-modifier));
--zbk-transition-playful-fx-duration-fast: calc(150ms * var(--zbk-a11y-transition-duration-modifier));
--zbk-transition-calm-motion-function-default: cubic-bezier(0.27, 1.06, 0.18, 1.00);
--zbk-transition-calm-motion-function-slow: cubic-bezier(0.27, 1.06, 0.18, 1.00);
--zbk-transition-calm-motion-function-fast: cubic-bezier(0.27, 1.06, 0.18, 1.00);
--zbk-transition-calm-motion-duration-default: calc(500ms * var(--zbk-a11y-transition-duration-modifier));
--zbk-transition-calm-motion-duration-slow: calc(750ms * var(--zbk-a11y-transition-duration-modifier));
--zbk-transition-calm-motion-duration-fast: calc(350ms * var(--zbk-a11y-transition-duration-modifier));
--zbk-transition-calm-fx-function-default: cubic-bezier(0.34, 0.80, 0.34, 1.00);
--zbk-transition-calm-fx-function-slow: cubic-bezier(0.34, 0.88, 0.34, 1.00);
--zbk-transition-calm-fx-function-fast: cubic-bezier(0.31, 0.94, 0.34, 1.00);
--zbk-transition-calm-fx-duration-default: calc(200ms * var(--zbk-a11y-transition-duration-modifier));
--zbk-transition-calm-fx-duration-slow: calc(300ms * var(--zbk-a11y-transition-duration-modifier));
--zbk-transition-calm-fx-duration-fast: calc(150ms * var(--zbk-a11y-transition-duration-modifier));
}
[data-zbk-theme="uber"] {
--zbk-spacing-0: 0;
--zbk-spacing-1: clamp(calc(0.85rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((0.7886rem + 0.2727vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(1rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-2: clamp(calc(1.7rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((1.5773rem + 0.5455vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(2rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-3: clamp(calc(2.55rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((2.3659rem + 0.8182vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(3rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-4: clamp(calc(3.4rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((3.1545rem + 1.0909vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(4rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-5: clamp(calc(4.25rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((3.9432rem + 1.3636vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(5rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-6: clamp(calc(5.1rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((4.7318rem + 1.6364vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(6rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-7: clamp(calc(5.95rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((5.5205rem + 1.9091vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(7rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-8: clamp(calc(6.8rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((6.3091rem + 2.1818vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(8rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-9: clamp(calc(7.65rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((7.0977rem + 2.4545vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(9rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-10: clamp(calc(8.5rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((7.8864rem + 2.7273vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(10rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-15: clamp(calc(12.75rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((11.8295rem + 4.0909vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(15rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-20: clamp(calc(17rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((15.7727rem + 5.4545vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(20rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-25: clamp(calc(21.25rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((19.7159rem + 6.8182vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(25rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-30: clamp(calc(25.5rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((23.6591rem + 8.1818vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(30rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-40: clamp(calc(34rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((31.5455rem + 10.9091vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(40rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-50: clamp(calc(42.5rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((39.4318rem + 13.6364vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(50rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-60: clamp(calc(51rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((47.3182rem + 16.3636vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(60rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-70: clamp(calc(59.5rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((55.2045rem + 19.0909vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(70rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-80: clamp(calc(68rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((63.0909rem + 21.8182vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(80rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-90: clamp(calc(76.5rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((70.9773rem + 24.5455vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(90rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-100: clamp(calc(85rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((78.8636rem + 27.2727vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(100rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-105: clamp(calc(1.275rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((1.183rem + 0.4091vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(1.5rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-205: clamp(calc(2.125rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((1.9716rem + 0.6818vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(2.5rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-neg-15: clamp(calc(-15rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((-11.8295rem + -4.0909vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(-12.75rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-neg-10: clamp(calc(-10rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((-7.8864rem + -2.7273vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(-8.5rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-neg-9: clamp(calc(-9rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((-7.0977rem + -2.4545vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(-7.65rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-neg-8: clamp(calc(-8rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((-6.3091rem + -2.1818vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(-6.8rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-neg-7: clamp(calc(-7rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((-5.5205rem + -1.9091vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(-5.95rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-neg-6: clamp(calc(-6rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((-4.7318rem + -1.6364vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(-5.1rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-neg-5: clamp(calc(-5rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((-3.9432rem + -1.3636vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(-4.25rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-neg-4: clamp(calc(-4rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((-3.1545rem + -1.0909vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(-3.4rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-neg-3: clamp(calc(-3rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((-2.3659rem + -0.8182vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(-2.55rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-neg-205: clamp(calc(-2.5rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((-1.9716rem + -0.6818vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(-2.125rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-neg-2: clamp(calc(-2rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((-1.5773rem + -0.5455vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(-1.7rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-neg-105: clamp(calc(-1.5rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((-1.183rem + -0.4091vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(-1.275rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-neg-1: clamp(calc(-1rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((-0.7886rem + -0.2727vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(-0.85rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-neg-05: clamp(calc(-0.5rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((-0.3943rem + -0.1364vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(-0.425rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-neg-025: clamp(calc(-0.25rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((-0.1972rem + -0.0682vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(-0.2125rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-neg-2px: calc(-2px * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling)));
--zbk-spacing-neg-1px: calc(-1px * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling)));
--zbk-spacing-1px: calc(1px * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling)));
--zbk-spacing-2px: calc(2px * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling)));
--zbk-spacing-025: clamp(calc(0.2125rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((0.1972rem + 0.0682vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(0.25rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-05: clamp(calc(0.425rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc((0.3943rem + 0.1364vw) * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))), calc(0.5rem * var(--zbk-a11y-spacing-modifier) * (1 + (var(--zbk-a11y-font-size-modifier-md) - 1) * var(--zbk-a11y-spacing-text-coupling))));
--zbk-spacing-2xs: var(--zbk-spacing-2px);
--zbk-spacing-xs: var(--zbk-spacing-025);
--zbk-spacing-sm: var(--zbk-spacing-05);
--zbk-spacing-md: var(--zbk-spacing-1);
--zbk-spacing-lg: var(--zbk-spacing-2);
--zbk-spacing-xl: var(--zbk-spacing-3);
--zbk-spacing-2xl: var(--zbk-spacing-5);
--zbk-spacing-3xl: var(--zbk-spacing-10);
--zbk-spacing-card: var(--zbk-spacing-15);
--zbk-spacing-mobile: var(--zbk-spacing-25);
--zbk-spacing-mobile-lg: var(--zbk-spacing-30);
--zbk-spacing-tablet: var(--zbk-spacing-40);
--zbk-spacing-tablet-lg: var(--zbk-spacing-60);
--zbk-spacing-desktop: var(--zbk-spacing-70);
--zbk-spacing-desktop-lg: var(--zbk-spacing-80);
--zbk-spacing-widescreen: var(--zbk-spacing-90);
--zbk-spacing-section: var(--zbk-spacing-50);
--zbk-spacing-section-margin-block: var(--zbk-spacing-2);
--zbk-spacing-section-margin-inline: var(--zbk-spacing-0);
--zbk-spacing-aside: var(--zbk-spacing-15);
--zbk-spacing-page-padding-block: var(--zbk-spacing-1);
--zbk-spacing-page-padding-inline: var(--zbk-spacing-105);
}
[data-zbk-theme="uber"] {
--zbk-z-index-0: 0;
--zbk-z-index-10: 10;
--zbk-z-index-20: 20;
--zbk-z-index-30: 30;
--zbk-z-index-40: 40;
--zbk-z-index-50: 50;
--zbk-z-index-60: 60;
--zbk-z-index-70: 70;
--zbk-z-index-80: 80;
--zbk-z-index-90: 90;
--zbk-z-index-100: 100;
--zbk-z-index-auto: auto;
--zbk-z-index-dropdown: 1000;
--zbk-z-index-sticky: 1020;
--zbk-z-index-fixed: 1030;
--zbk-z-index-modal-backdrop: 1040;
--zbk-z-index-modal: 1050;
--zbk-z-index-popover: 1060;
--zbk-z-index-tooltip: 1070;
}
[data-zbk-theme="uber"] {
--zbk-focus-color: var(--zbk-accent-primary-500);
--zbk-focus-width: var(--zbk-spacing-2px);
--zbk-focus-offset: var(--zbk-spacing-025);
}
[data-zbk-theme="uber"] {
--zbk-elevation-none: none;
--zbk-elevation-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
--zbk-elevation-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
--zbk-elevation-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
--zbk-elevation-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
--zbk-elevation-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
--zbk-elevation-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
--zbk-elevation-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
--zbk-elevation-inner-sm: inset 0 1px 2px 0 rgb(0 0 0 / 0.05);
--zbk-elevation-inner-lg: inset 0 4px 6px 0 rgb(0 0 0 / 0.1);
}
[data-zbk-theme="uber"] {
--zbk-a11y-spacing-modifier: 1;
--zbk-a11y-spacing-text-coupling: 0.5;
--zbk-a11y-line-height-modifier: 1;
--zbk-a11y-letter-spacing-modifier: 1;
--zbk-a11y-fallback-font-size-modifier: 1;
--zbk-a11y-transition-duration-modifier: 1;
}
[data-zbk-theme="uber"] {
--zbk-button-ink: var(--zbk-color-global-white);
--zbk-button-ink-hover: var(--zbk-color-global-white);
--zbk-button-ink-active: var(--zbk-color-global-white);
--zbk-button-ink-disabled: var(--zbk-disabled-ink);
--zbk-button-canvas: var(--zbk-action-canvas);
--zbk-button-canvas-hover: var(--zbk-action-canvas-muted);
--zbk-button-canvas-active: var(--zbk-action-canvas-soft);
--zbk-button-canvas-disabled: var(--zbk-disabled-canvas);
--zbk-button-border-color: var(--zbk-action-canvas);
--zbk-button-border-color-hover: var(--zbk-action-canvas-muted);
--zbk-button-border-color-selected: var(--zbk-action-canvas-soft);
--zbk-button-border-color-disabled: var(--zbk-disabled-border);
--zbk-button-border-width: 0px;
--zbk-button-border-style: var(--zbk-border-style);
--zbk-button-border-radius: var(--zbk-border-radius-md);
--zbk-button-font-family: var(--zbk-font-family-interface);
--zbk-button-font-size: var(--zbk-font-size-md);
--zbk-button-font-weight: var(--zbk-font-weight-medium);
--zbk-button-line-height: 1.5;
--zbk-button-letter-spacing: 0;
--zbk-button-text-transform: none;
--zbk-button-text-decoration: none;
--zbk-button-text-align: center;
--zbk-button-padding-inline: var(--zbk-spacing-1);
--zbk-button-padding-block: var(--zbk-spacing-05);
--zbk-button-padding-inline-start: var(--zbk-button-padding-inline);
--zbk-button-padding-inline-end: var(--zbk-button-padding-inline);
--zbk-button-padding-block-start: var(--zbk-button-padding-block);
--zbk-button-padding-block-end: var(--zbk-button-padding-block);
--zbk-button-margin-inline: 0;
--zbk-button-margin-block: 0;
--zbk-button-margin-inline-start: var(--zbk-button-margin-inline);
--zbk-button-margin-inline-end: var(--zbk-button-margin-inline);
--zbk-button-margin-block-start: var(--zbk-button-margin-block);
--zbk-button-margin-block-end: var(--zbk-button-margin-block);
--zbk-button-gap: var(--zbk-spacing-05);
--zbk-button-group-gap: var(--zbk-spacing-05);
--zbk-button-display: inline-flex;
--zbk-button-width: auto;
--zbk-button-min-width: 44px;
--zbk-button-max-width: none;
--zbk-button-height: auto;
--zbk-button-min-height: 48px;
--zbk-button-max-height: none;
--zbk-button-icon-size: 1.25rem;
--zbk-button-focus-color: var(--zbk-focus-color);
--zbk-button-focus-width: var(--zbk-focus-width);
--zbk-button-focus-offset: var(--zbk-focus-offset);
--zbk-button-box-shadow: none;
--zbk-button-box-shadow-hover: none;
--zbk-button-box-shadow-active: none;
--zbk-button-box-shadow-focus: none;
--zbk-button-cursor: pointer;
--zbk-button-flex-direction: row;
--zbk-button-justify-content: center;
--zbk-button-align-items: center;
--zbk-button-transition-duration: calc(150ms * var(--zbk-a11y-transition-duration-modifier));
--zbk-button-transition-timing-function: ease-in-out;
--zbk-button-transition-property: background-color, color, border-color, box-shadow, transform, outline;
--zbk-button-transition-delay: 0;
--zbk-button-opacity: 1;
}
[data-zbk-theme="uber"] {
--zbk-opacity-0: 0;
--zbk-opacity-5: 0.05;
--zbk-opacity-10: 0.1;
--zbk-opacity-15: 0.15;
--zbk-opacity-20: 0.2;
--zbk-opacity-25: 0.25;
--zbk-opacity-30: 0.3;
--zbk-opacity-40: 0.4;
--zbk-opacity-50: 0.5;
--zbk-opacity-60: 0.6;
--zbk-opacity-70: 0.7;
--zbk-opacity-75: 0.75;
--zbk-opacity-80: 0.8;
--zbk-opacity-85: 0.85;
--zbk-opacity-90: 0.9;
--zbk-opacity-95: 0.95;
--zbk-opacity-100: 1;
}
[data-zbk-theme="uber"] {
--zbk-font-size-3xs: calc(0.75rem * var(--zbk-a11y-font-size-modifier-3xs));
--zbk-font-size-2xs: calc(0.8125rem * var(--zbk-a11y-font-size-modifier-2xs));
--zbk-font-size-xs: calc(0.875rem * var(--zbk-a11y-font-size-modifier-xs));
--zbk-font-size-sm: calc(0.9375rem * var(--zbk-a11y-font-size-modifier-sm));
--zbk-font-size-md: calc(1rem * var(--zbk-a11y-font-size-modifier-md));
--zbk-font-size-lg: calc(1.25rem * var(--zbk-a11y-font-size-modifier-lg));
--zbk-font-size-xl: calc(1.5rem * var(--zbk-a11y-font-size-modifier-xl));
--zbk-font-size-2xl: calc(2.25rem * var(--zbk-a11y-font-size-modifier-2xl));
--zbk-font-size-3xl: calc(3.25rem * var(--zbk-a11y-font-size-modifier-3xl));
--zbk-font-size-4xl: calc(4.25rem * var(--zbk-a11y-font-size-modifier-4xl));
--zbk-font-size-5xl: calc(6rem * var(--zbk-a11y-font-size-modifier-5xl));
}
[data-zbk-theme="uber"] {
--zbk-list-font-family: var(--zbk-font-family-heading);
--zbk-list-font-size: var(--zbk-font-size-sm);
--zbk-list-font-weight: var(--zbk-font-weight-semibold);
--zbk-list-line-height: var(--zbk-line-height-3);
--zbk-list-letter-spacing: var(--zbk-letter-spacing-normal);
--zbk-list-measure: var(--zbk-text-measure-3);
--zbk-list-spacing-before: var(--zbk-spacing-2);
--zbk-list-spacing-after: var(--zbk-spacing-1);
--zbk-list-padding-block-start: var(--zbk-spacing-105);
--zbk-list-padding-block-end: var(--zbk-spacing-0);
--zbk-list-color: var(--zbk-app-ink);
--zbk-list-font-style: none;
--zbk-list-text-transform: uppercase;
}
[data-zbk-theme="uber"] {
--zbk-p-font-family: var(--zbk-font-family-body);
--zbk-p-font-size: var(--zbk-font-size-md);
--zbk-p-font-weight: var(--zbk-font-weight-normal);
--zbk-p-line-height: 1.5;
--zbk-p-letter-spacing: 0;
--zbk-p-measure: var(--zbk-text-measure-4);
--zbk-p-spacing-before: 1em;
--zbk-p-spacing-after: 1em;
--zbk-p-color: var(--zbk-app-ink);
--zbk-p-font-style: none;
--zbk-p-text-transform: none;
}
[data-zbk-theme="uber"] {
--zbk-h6-font-family: var(--zbk-font-family-heading);
--zbk-h6-font-size: var(--zbk-font-size-sm);
--zbk-h6-font-weight: var(--zbk-font-weight-semibold);
--zbk-h6-line-height: var(--zbk-line-height-3);
--zbk-h6-letter-spacing: var(--zbk-letter-spacing-normal);
--zbk-h6-measure: var(--zbk-text-measure-3);
--zbk-h6-spacing-before: var(--zbk-spacing-2);
--zbk-h6-spacing-after: var(--zbk-spacing-1);
--zbk-h6-color: var(--zbk-app-ink);
--zbk-h6-font-style: none;
--zbk-h6-text-transform: uppercase;
}
[data-zbk-theme="uber"] {
--zbk-h5-font-family: var(--zbk-font-family-heading);
--zbk-h5-font-size: var(--zbk-font-size-sm);
--zbk-h5-font-weight: var(--zbk-font-weight-bold);
--zbk-h5-line-height: var(--zbk-line-height-3);
--zbk-h5-letter-spacing: var(--zbk-letter-spacing-normal);
--zbk-h5-measure: var(--zbk-text-measure-3);
--zbk-h5-spacing-before: var(--zbk-spacing-2);
--zbk-h5-spacing-after: var(--zbk-spacing-1);
--zbk-h5-color: var(--zbk-app-ink);
--zbk-h5-font-style: italic;
--zbk-h5-text-transform: none;
}
[data-zbk-theme="uber"] {
--zbk-h4-font-family: var(--zbk-font-family-heading);
--zbk-h4-font-size: var(--zbk-font-size-md);
--zbk-h4-font-weight: var(--zbk-font-weight-semibold);
--zbk-h4-line-height: var(--zbk-line-height-3);
--zbk-h4-letter-spacing: var(--zbk-letter-spacing-normal);
--zbk-h4-measure: var(--zbk-text-measure-3);
--zbk-h4-spacing-before: var(--zbk-spacing-3);
--zbk-h4-spacing-after: var(--zbk-spacing-105);
--zbk-h4-color: var(--zbk-app-ink);
--zbk-h4-font-style: none;
--zbk-h4-text-transform: none;
}
[data-zbk-theme="uber"] {
--zbk-border-width-xs: var(--zbk-spacing-1px);
--zbk-border-width-sm: var(--zbk-spacing-1px);
--zbk-border-width-md: var(--zbk-spacing-1px);
--zbk-border-width-lg: var(--zbk-spacing-2px);
--zbk-border-width-xl: var(--zbk-spacing-2px);
--zbk-border-style: solid;
--zbk-border-radius-xs: var(--zbk-spacing-2px);
--zbk-border-radius-sm: var(--zbk-spacing-025);
--zbk-border-radius-md: var(--zbk-spacing-05);
--zbk-border-radius-lg: .75rem;
--zbk-border-radius-xl: var(--zbk-spacing-1);
}
[data-zbk-theme="uber"] {
--zbk-h3-font-family: var(--zbk-font-family-heading);
--zbk-h3-font-size: var(--zbk-font-size-xl);
--zbk-h3-font-weight: var(--zbk-font-weight-semibold);
--zbk-h3-line-height: 1.25;
--zbk-h3-letter-spacing: -0.01em;
--zbk-h3-measure: var(--zbk-text-measure-3);
--zbk-h3-spacing-before: 1em;
--zbk-h3-spacing-after: 1em;
--zbk-h3-color: var(--zbk-app-ink);
--zbk-h3-font-style: none;
--zbk-h3-text-transform: none;
}
[data-zbk-theme="uber"] {
--zbk-h2-font-family: var(--zbk-font-family-heading);
--zbk-h2-font-size: var(--zbk-font-size-2xl);
--zbk-h2-font-weight: var(--zbk-font-weight-bold);
--zbk-h2-line-height: 1.1666666667;
--zbk-h2-letter-spacing: -0.015em;
--zbk-h2-measure: var(--zbk-text-measure-3);
--zbk-h2-spacing-before: 0.83em;
--zbk-h2-spacing-after: 0.83em;
--zbk-h2-color: var(--zbk-app-ink);
--zbk-h2-font-style: none;
--zbk-h2-text-transform: none;
}
[data-zbk-theme="uber"] {
--zbk-positive-canvas: var(--zbk-color-green-500);
--zbk-positive-canvas-soft: var(--zbk-color-green-50);
--zbk-positive-canvas-muted: var(--zbk-color-green-100);
--zbk-positive-canvas-strong: var(--zbk-color-green-600);
--zbk-positive-canvas-inverse: var(--zbk-color-green-400);
--zbk-positive-canvas-inverse-soft: var(--zbk-color-green-900);
--zbk-positive-canvas-inverse-muted: var(--zbk-color-green-800);
--zbk-positive-canvas-inverse-strong: var(--zbk-color-green-300);
--zbk-positive-ink: var(--zbk-color-green-700);
--zbk-positive-ink-soft: var(--zbk-color-green-500);
--zbk-positive-ink-muted: var(--zbk-color-green-400);
--zbk-positive-ink-inverse: var(--zbk-color-green-300);
--zbk-positive-ink-inverse-soft: var(--zbk-color-green-400);
--zbk-positive-ink-inverse-muted: var(--zbk-color-green-500);
--zbk-positive-border: var(--zbk-color-green-500);
--zbk-positive-border-soft: var(--zbk-color-green-200);
--zbk-positive-border-muted: var(--zbk-color-green-300);
--zbk-positive-border-strong: var(--zbk-color-green-600);
--zbk-positive-border-inverse: var(--zbk-color-green-500);
--zbk-positive-border-inverse-soft: var(--zbk-color-green-800);
--zbk-positive-border-inverse-muted: var(--zbk-color-green-700);
--zbk-positive-border-inverse-strong: var(--zbk-color-green-400);
}
[data-zbk-theme="uber"] {
--zbk-info-canvas: var(--zbk-color-cyan-500);
--zbk-info-canvas-soft: var(--zbk-color-cyan-50);
--zbk-info-canvas-muted: var(--zbk-color-cyan-100);
--zbk-info-canvas-strong: var(--zbk-color-cyan-600);
--zbk-info-canvas-inverse: var(--zbk-color-cyan-400);
--zbk-info-canvas-inverse-soft: var(--zbk-color-cyan-900);
--zbk-info-canvas-inverse-muted: var(--zbk-color-cyan-800);
--zbk-info-canvas-inverse-strong: var(--zbk-color-cyan-300);
--zbk-info-ink: var(--zbk-color-cyan-700);
--zbk-info-ink-soft: var(--zbk-color-cyan-500);
--zbk-info-ink-muted: var(--zbk-color-cyan-400);
--zbk-info-ink-inverse: var(--zbk-color-cyan-300);
--zbk-info-ink-inverse-soft: var(--zbk-color-cyan-400);
--zbk-info-ink-inverse-muted: var(--zbk-color-cyan-500);
--zbk-info-border: var(--zbk-color-cyan-500);
--zbk-info-border-soft: var(--zbk-color-cyan-200);
--zbk-info-border-muted: var(--zbk-color-cyan-300);
--zbk-info-border-strong: var(--zbk-color-cyan-600);
--zbk-info-border-inverse: var(--zbk-color-cyan-500);
--zbk-info-border-inverse-soft: var(--zbk-color-cyan-800);
--zbk-info-border-inverse-muted: var(--zbk-color-cyan-700);
--zbk-info-border-inverse-strong: var(--zbk-color-cyan-400);
}
[data-zbk-theme="uber"] {
--zbk-critical-canvas: var(--zbk-color-red-500);
--zbk-critical-canvas-soft: var(--zbk-color-red-50);
--zbk-critical-canvas-muted: var(--zbk-color-red-100);
--zbk-critical-canvas-strong: var(--zbk-color-red-600);
--zbk-critical-canvas-inverse: var(--zbk-color-red-400);
--zbk-critical-canvas-inverse-soft: var(--zbk-color-red-900);
--zbk-critical-canvas-inverse-muted: var(--zbk-color-red-800);
--zbk-critical-canvas-inverse-strong: var(--zbk-color-red-300);
--zbk-critical-ink: var(--zbk-color-red-700);
--zbk-critical-ink-soft: var(--zbk-color-red-500);
--zbk-critical-ink-muted: var(--zbk-color-red-400);
--zbk-critical-ink-inverse: var(--zbk-color-red-300);
--zbk-critical-ink-inverse-soft: var(--zbk-color-red-400);
--zbk-critical-ink-inverse-muted: var(--zbk-color-red-500);
--zbk-critical-border: var(--zbk-color-red-500);
--zbk-critical-border-soft: var(--zbk-color-red-200);
--zbk-critical-border-muted: var(--zbk-color-red-300);
--zbk-critical-border-strong: var(--zbk-color-red-600);
--zbk-critical-border-inverse: var(--zbk-color-red-500);
--zbk-critical-border-inverse-soft: var(--zbk-color-red-800);
--zbk-critical-border-inverse-muted: var(--zbk-color-red-700);
--zbk-critical-border-inverse-strong: var(--zbk-color-red-400);
}
[data-zbk-theme="uber"] {
--zbk-caution-canvas: var(--zbk-color-gold-500);
--zbk-caution-canvas-soft: var(--zbk-color-gold-50);
--zbk-caution-canvas-muted: var(--zbk-color-gold-100);
--zbk-caution-canvas-strong: var(--zbk-color-gold-600);
--zbk-caution-canvas-inverse: var(--zbk-color-gold-400);
--zbk-caution-canvas-inverse-soft: var(--zbk-color-gold-900);
--zbk-caution-canvas-inverse-muted: var(--zbk-color-gold-800);
--zbk-caution-canvas-inverse-strong: var(--zbk-color-gold-300);
--zbk-caution-ink: var(--zbk-color-gold-700);
--zbk-caution-ink-soft: var(--zbk-color-gold-500);
--zbk-caution-ink-muted: var(--zbk-color-gold-400);
--zbk-caution-ink-inverse: var(--zbk-color-gold-300);
--zbk-caution-ink-inverse-soft: var(--zbk-color-gold-400);
--zbk-caution-ink-inverse-muted: var(--zbk-color-gold-500);
--zbk-caution-border: var(--zbk-color-gold-500);
--zbk-caution-border-soft: var(--zbk-color-gold-200);
--zbk-caution-border-muted: var(--zbk-color-gold-300);
--zbk-caution-border-strong: var(--zbk-color-gold-600);
--zbk-caution-border-inverse: var(--zbk-color-gold-500);
--zbk-caution-border-inverse-soft: var(--zbk-color-gold-800);
--zbk-caution-border-inverse-muted: var(--zbk-color-gold-700);
--zbk-caution-border-inverse-strong: var(--zbk-color-gold-400);
}
[data-zbk-theme="uber"] {
--zbk-app-canvas: #ffffff;
--zbk-app-canvas-soft: #f6f6f6;
--zbk-app-canvas-muted: #eeeeee;
--zbk-app-canvas-strong: #e2e2e2;
--zbk-app-canvas-inverse: var(--zbk-color-dusk-950);
--zbk-app-canvas-inverse-soft: var(--zbk-color-dusk-900);
--zbk-app-canvas-inverse-muted: var(--zbk-color-dusk-700);
--zbk-app-canvas-inverse-strong: var(--zbk-color-dusk-200);
--zbk-app-ink: #000000;
--zbk-app-ink-soft: #545454;
--zbk-app-ink-muted: #757575;
--zbk-app-ink-inverse: var(--zbk-color-dusk-200);
--zbk-app-ink-inverse-soft: var(--zbk-color-dusk-50);
--zbk-app-ink-inverse-muted: var(--zbk-color-dusk-400);
--zbk-app-border: #e2e2e2;
--zbk-app-border-soft: #eeeeee;
--zbk-app-border-muted: #cbcbcb;
--zbk-app-border-strong: #afafaf;
--zbk-app-border-inverse: ;
--zbk-app-border-inverse-soft: ;
--zbk-app-border-inverse-muted: ;
--zbk-app-border-inverse-strong: ;
}
[data-zbk-theme="uber"] {
--zbk-action-canvas: #000000;
--zbk-action-canvas-soft: #404040;
--zbk-action-canvas-muted: #272727;
--zbk-action-canvas-strong: var(--zbk-color-blue-600);
--zbk-action-canvas-inverse: var(--zbk-color-blue-400);
--zbk-action-canvas-inverse-soft: var(--zbk-color-blue-900);
--zbk-action-canvas-inverse-muted: var(--zbk-color-blue-800);
--zbk-action-canvas-inverse-strong: var(--zbk-color-blue-300);
--zbk-action-ink: #276ef1;
--zbk-action-ink-soft: #1e54b7;
--zbk-action-ink-muted: #4884f4;
--zbk-action-ink-inverse: var(--zbk-color-blue-300);
--zbk-action-ink-inverse-soft: var(--zbk-color-blue-400);
--zbk-action-ink-inverse-muted: var(--zbk-color-blue-500);
--zbk-action-border: var(--zbk-color-blue-500);
--zbk-action-border-soft: var(--zbk-color-blue-200);
--zbk-action-border-muted: var(--zbk-color-blue-300);
--zbk-action-border-strong: var(--zbk-color-blue-600);
--zbk-action-border-inverse: var(--zbk-color-blue-500);
--zbk-action-border-inverse-soft: var(--zbk-color-blue-800);
--zbk-action-border-inverse-muted: var(--zbk-color-blue-700);
--zbk-action-border-inverse-strong: var(--zbk-color-blue-400);
}
}

