:root {
    --zbk-a11y-font-size-modifier-2xs: 1;
    --zbk-a11y-font-size-modifier-xs: 1;
    --zbk-a11y-font-size-modifier-sm: 1;
    --zbk-a11y-font-size-modifier-md: 1;
    --zbk-a11y-font-size-modifier-lg: 1;
    --zbk-a11y-font-size-modifier-xl: 1;
    --zbk-a11y-font-size-modifier-2xl: 1;
    --zbk-a11y-font-size-modifier-3xl: 1;
}