@import './blue';
@import './butterfield';
@import './charcoal';
@import './cyan';
@import './deepcurrent';
@import './dusk';
@import './ember';
@import './gold';
@import './green';
@import './indigo';
@import './lavenderfield';
@import './merlot';
@import './mint';
@import './orange';
@import './pink';
@import './red';
@import './rosewater';
@import './sea';
@import './stone';
@import './teal';
@import './violet';
@import './yellow';

:root {
    --zbk-color-global-black: #131313;
    --zbk-color-global-white: #fefefe;
    --zbk-color-global-transparent: transparent;
}