@use './blue';
@use './butterfield';
@use './charcoal';
@use './chestnut';
@use './cyan';
@use './deepcurrent';
@use './dusk';
@use './ember';
@use './foxglove';
@use './gold';
@use './green';
@use './indigo';
@use './lavenderfield';
@use './lime';
@use './merlot';
@use './mint';
@use './orange';
@use './pink';
@use './red';
@use './rosewater';
@use './sea';
@use './stone';
@use './teal';
@use './violet';
@use './yellow';

:root {
    --zbk-color-global-black: #131313;
    --zbk-color-global-white: #fefefe;
    --zbk-color-global-transparent: transparent;
}
