@use 'core/styles/variables/prefix'as prefix;

@layer base {

.prose > h2, h2.prose {
  font-family: var(--#{prefix.$cssVar}-h2-font-family);
  font-size: var(--#{prefix.$cssVar}-h2-font-size);
  font-weight: var(--#{prefix.$cssVar}-h2-font-weight);
  line-height: var(--#{prefix.$cssVar}-h2-line-height);
  letter-spacing: var(--#{prefix.$cssVar}-h2-letter-spacing);
  max-width: var(--#{prefix.$cssVar}-h2-measure);
  color: var(--#{prefix.$cssVar}-h2-color);
  font-style: var(--#{prefix.$cssVar}-h2-font-style);
  text-transform: var(--#{prefix.$cssVar}-h2-text-transform);
}

.prose>*+h2 {
  margin-top:var(--#{prefix.$cssVar}-h2-spacing-before);
}

.prose>h2+*, h2.prose+* {
  margin-top:var(--#{prefix.$cssVar}-h2-spacing-after);
}

} // @layer base