:root {

    --zbk-btn-line-height: var(--zbk-line-height-3);
    --zbk-btn-font-size: var(--zbk-font-size-sm);
    --zbk-btn-font-family: var(--zbk-interface-font-family);

    --zbk-btn-xs-line-height: var(--zbk-line-height-2);
    --zbk-btn-xs-font-size: var(--zbk-font-size-2xs);
    --zbk-btn-xs-font-family: var(--zbk-btn-font-family);

    --zbk-btn-sm-line-height: var(--zbk-btn-line-height);
    --zbk-btn-sm-font-size: var(--zbk-font-size-xs);
    --zbk-btn-sm-font-family: var(--zbk-btn-font-family);

    --zbk-btn-lg-line-height: var(--zbk-btn-line-height);
    --zbk-btn-lg-font-size: var(--zbk-font-size-md);
    --zbk-btn-lg-font-family: var(--zbk-btn-font-family);

    --zbk-btn-border-radius: var(--zbk-border-radius-sm);
    --zbk-btn-xs-border-radius: var(--zbk-border-radius-xs);
    --zbk-btn-sm-border-radius: var(--zbk-border-radius-sm);
    --zbk-btn-lg-border-radius: var(--zbk-border-radius-md);

    --zbk-btn-padding-x: var(--zbk-gap-md);
    --zbk-btn-padding-y: var(--zbk-gap-sm);
    --zbk-btn-xs-padding-x: var(--zbk-gap-xs);
    --zbk-btn-xs-padding-y: var(--zbk-gap-2xs);
    --zbk-btn-sm-padding-x: var(--zbk-gap-sm);
    --zbk-btn-sm-padding-y: var(--zbk-gap-xs);
    --zbk-btn-lg-padding-x: var(--zbk-gap-lg);
    --zbk-btn-lg-padding-y: var(--zbk-gap-md);

    --zbk-btn-icon-stroke-width: 2.25;
    --zbk-btn-icon-font-size: var(--zbk-font-size-md);
    --zbk-btn-xs-icon-font-size:  var(--zbk-font-size-xs);
    --zbk-btn-sm-icon-font-size:  var(--zbk-font-size-sm);
    --zbk-btn-lg-icon-font-size:  var(--zbk-font-size-lg);

    --zbk-btn-border-width: var(--zbk-border-width-md);
    --zbk-btn-xs-border-width: var(--zbk-btn-sm-border-width);
    --zbk-btn-sm-border-width: var(--zbk-border-width-sm);
    --zbk-btn-lg-border-width: var(--zbk-border-width-lg);

    --zbk-btn-raised-amount: 1;

    --zbk-btn-background: var(--zbk-primary);
    --zbk-btn-background-hover: var(--zbk-primary-100);
    --zbk-btn-border-color-selected: var(--zbk-accent);
    --zbk-btn-border-color: var(--zbk-accent);
    --zbk-btn-border-color-hover: var(--zbk-accent);
    --zbk-btn-foreground: var(--zbk-ink);
    --zbk-btn-focus-color: var(--zbk-accent);
    --zbk-btn-gap: var(--zbk-gap-sm);

    --zbk-btn-offset-color: var(--zbk-accent);

}

z-button {
    display: inline-flex;
    visibility: hidden;


    &.z-button-ready {
        visibility: visible;
    }

    .z-button {
        position: relative;
        border: none;
        background: transparent;
        padding: 0;
        cursor: pointer;
        outline-width: 0rem;
        transition: outline var(--zbk-transition-duration) ease-in-out;
 
        border-radius: var(--zbk-btn-border-radius);
    

        &.flat {
            --zbk-btn-border-color: transparent;
            --zbk-btn-background: var(--zbk-body-background);
        }

        &.xs {
            --zbk-focus-offset: var(--zbk-gap-2xs);
            --zbk-focus-width: var(--zbk-gap-2xs);
            --zbk-btn-icon-font-size: var(--zbk-btn-xs-icon-font-size);
            --zbk-btn-border-radius: var(--zbk-btn-xs-border-radius);
            --zbk-btn-padding-y: var(--zbk-btn-xs-padding-y);
            --zbk-btn-padding-x: var(--zbk-btn-xs-padding-x);
            --zbk-btn-border-width: var(--zbk-btn-xs-border-width);
            --zbk-btn-font-size: var(--zbk-btn-xs-font-size);
            --zbk-btn-line-height: var(--zbk-btn-xs-line-height);
            --zbk-btn-font-family: var(--zbk-btn-xs-font-family);

            .z-button__front {
                min-width: unset;
                min-height: unset;
            }
        }

        &.sm {
            --zbk-focus-offset: var(--zbk-gap-2xs);
            --zbk-focus-width: var(--zbk-gap-2xs);
            --zbk-btn-icon-font-size: var(--zbk-btn-sm-icon-font-size);
            --zbk-btn-border-radius: var(--zbk-btn-sm-border-radius);
            --zbk-btn-padding-y: var(--zbk-btn-sm-padding-y);
            --zbk-btn-padding-x: var(--zbk-btn-sm-padding-x);
            --zbk-btn-border-width: var(--zbk-btn-sm-border-width);
            --zbk-btn-font-size: var(--zbk-btn-sm-font-size);
            --zbk-btn-line-height: var(--zbk-btn-sm-line-height);
            --zbk-btn-font-family: var(--zbk-btn-sm-font-family);

            .z-button__front {
                min-width: unset;
                min-height: unset;
            }
        }

        &.lg {
            --zbk-btn-icon-font-size: var(--zbk-btn-lg-icon-font-size);
            --zbk-btn-border-radius: var(--zbk-btn-lg-border-radius);
            --zbk-btn-padding-y: var(--zbk-btn-lg-padding-y);
            --zbk-btn-padding-x: var(--zbk-btn-lg-padding-x);
            --zbk-btn-border-width: var(--zbk-btn-lg-border-width);
            --zbk-btn-font-size: var(--zbk-btn-lg-font-size);
            --zbk-btn-line-height: var(--zbk-btn-lg-line-height);
            --zbk-btn-font-family: var(--zbk-btn-lg-font-family);
        }

        .z-button__edge {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: var(--zbk-btn-border-radius);
            background: var(--zbk-btn-offset-color);
            opacity: 0;
        }

        &.unstyled {
            .z-button__edge {
                display: none;
            }

            .z-button__front {
                display: unset;
                align-items: unset;
                justify-content: unset;
                gap: unset;
                position: unset;
                padding: unset;
                border-radius: unset;
                font-weight: 500;
                line-height: var(--zbk-btn-line-height);
                font-size: var(--zbk-btn-font-size);
                color: var(--zbk-action);
                background: transparent;
                will-change: transform;
                border: unset;
                transition: unset;
                min-height: 44px; // WCAG guidelines min target size
                min-width: 44px;
            }
        }

        .z-button__front {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: var(--zbk-btn-gap);
            position: relative;
            padding: var(--zbk-btn-padding-y) var(--zbk-btn-padding-x);
            border-radius: var(--zbk-btn-border-radius);
            font-weight: 500;
            line-height: var(--zbk-btn-line-height);
            font-size: var(--zbk-btn-font-size);
            color: var(--zbk-btn-foreground);
            background: var(--zbk-btn-background);
            will-change: transform;
            border: var(--zbk-btn-border-width) solid var(--zbk-btn-border-color);
            transition:
                transform 600ms var(--zbk-component-transition-timing);
            min-height: 44px; // WCAG guidelines min target size
            min-width: 44px;
            box-sizing: border-box;
            font-family: var(--zbk-btn-font-family);
        }

        &:not([disabled]):not(.unstyled):active {
            .z-button__front {
                // transform: translateY(calc((var(--zbk-gap-base) / 6) * -1));
                transform: translateY(0);
                transition: transform 64ms;
                --zbk-btn-border-color: var(--zbk-btn-border-color-hover);
                --zbk-btn-background: var(--zbk-btn-background-hover);
            }
        }

        &:focus {
            --zbk-focus-offset: 0;
            outline: var(--zbk-focus-width) solid var(--zbk-focus-color);
            outline-offset: var(--zbk-focus-offset);
        }

        &.active-selection {
            --zbk-btn-background: var(--zbk-btn-background-hover);
            --zbk-btn-border-color: var(--zbk-btn-border-color-selected);
        }

        &.raised {
            --zbk-btn-border-color: var(--zbk-btn-border-color-hover);

            &:not(:active) {
                .z-button__edge {
                    opacity: 1;
                }

                .z-button__front {
                    transform: translateY(calc(var(--zbk-btn-border-width) * (var(--zbk-btn-raised-amount) * -1)));
                    transition:
                        transform 250ms var(--zbk-component-transition-timing);
                }
            }
        }

        &.visible-active {
            --zbk-btn-background: var(--zbk-btn-background-hover);
            --zbk-btn-border-color: var(--zbk-btn-border-color-hover);

            &:not(:active) {
                .z-button__edge {
                    opacity: 1;
                }

                .z-button__front {
                    transform: translateY(calc(var(--zbk-btn-border-width) * (var(--zbk-btn-raised-amount) * -1)));
                    transition:
                        transform 250ms var(--zbk-component-transition-timing);
                }
            }
        }

        &[disabled] {
            opacity: .66;
            cursor: not-allowed;
        }

    }

    .z-button__icon {
        display: inline-flex;
        font-size: var(--zbk-btn-icon-font-size);

        &.lg {
            --zbk-btn-icon-font-size: var(--zbk-font-size-lg);
        }


        &.xl {
            --zbk-btn-icon-font-size: var(--zbk-font-size-xl);
        }

        &.sm {
            --zbk-btn-icon-font-size: var(--zbk-font-size-xs);
        }

        &.xs {
            --zbk-btn-icon-font-size: var(--zbk-font-size-2xs);
        }
    }

    @media (hover: hover) and (pointer: fine) {
        .z-button:not([disabled]):not(.unstyled):hover {
            --zbk-btn-background: var(--zbk-btn-background-hover);
            --zbk-btn-border-color: var(--zbk-btn-border-color-hover);

            &:not(:active):not(.unstyled) {
                .z-button__edge {
                    opacity: 1;
                }

                .z-button__front {
                    transform: translateY(calc(var(--zbk-btn-border-width) * (var(--zbk-btn-raised-amount) * -1)));
                    transition:
                        transform 250ms var(--zbk-component-transition-timing);
                }
            }
        }
    }
}