@use 'tokens/styles/variables/prefix'as prefix;

@layer base {

.prose > p, p.prose {
  font-family: var(--#{prefix.$cssVar}-p-font-family);
  font-size: var(--#{prefix.$cssVar}-p-font-size);
  font-weight: var(--#{prefix.$cssVar}-p-font-weight);
  line-height: var(--#{prefix.$cssVar}-p-line-height);
  letter-spacing: var(--#{prefix.$cssVar}-p-letter-spacing);
  max-width: var(--#{prefix.$cssVar}-p-measure);
  color: var(--#{prefix.$cssVar}-p-color);
  font-style: var(--#{prefix.$cssVar}-p-font-style);
  text-transform: var(--#{prefix.$cssVar}-p-text-transform);
}

.prose>*+p {
  margin-top:var(--#{prefix.$cssVar}-p-spacing-before);
}

.prose>p+*, p.prose+* {
  margin-top:var(--#{prefix.$cssVar}-p-spacing-after);
}

} // @layer base