@use 'tokens/styles/variables/prefix'as prefix;

$size-values: ('auto': auto,
    'full': 100%,
    'viewport': 100vw,
    'min': min-content,
    'max': max-content,
    'inherit': inherit,
    'neg-1px': var(--#{prefix.$cssVar}-spacing-neg-1px),
    '0': var(--#{prefix.$cssVar}-spacing-0),
    '1px': var(--#{prefix.$cssVar}-spacing-1px),
    '2px': var(--#{prefix.$cssVar}-spacing-2px),
    '025': var(--#{prefix.$cssVar}-spacing-025),
    '05': var(--#{prefix.$cssVar}-spacing-05),
    '1': var(--#{prefix.$cssVar}-spacing-1),
    '105': var(--#{prefix.$cssVar}-spacing-105),
    '2': var(--#{prefix.$cssVar}-spacing-2),
    '205': var(--#{prefix.$cssVar}-spacing-205),
    '3': var(--#{prefix.$cssVar}-spacing-3),
    '4': var(--#{prefix.$cssVar}-spacing-4),
    '5': var(--#{prefix.$cssVar}-spacing-5),
    '6': var(--#{prefix.$cssVar}-spacing-6),
    '7': var(--#{prefix.$cssVar}-spacing-7),
    '8': var(--#{prefix.$cssVar}-spacing-8),
    '9': var(--#{prefix.$cssVar}-spacing-9),
    '10': var(--#{prefix.$cssVar}-spacing-10),
    '15': var(--#{prefix.$cssVar}-spacing-15),
    '20': var(--#{prefix.$cssVar}-spacing-20),
    '25': var(--#{prefix.$cssVar}-spacing-25),
    '30': var(--#{prefix.$cssVar}-spacing-30),
    '40': var(--#{prefix.$cssVar}-spacing-40),
    '50': var(--#{prefix.$cssVar}-spacing-50),
    '60': var(--#{prefix.$cssVar}-spacing-60),
    '70': var(--#{prefix.$cssVar}-spacing-70),
    '80': var(--#{prefix.$cssVar}-spacing-80),
    '90': var(--#{prefix.$cssVar}-spacing-90),
    '100': var(--#{prefix.$cssVar}-spacing-100),
);

$spacing-values: 'neg-15',
'neg-10',
'neg-9',
'neg-8',
'neg-7',
'neg-6',
'neg-5',
'neg-4',
'neg-3',
'neg-205',
'neg-2',
'neg-105',
'neg-1',
'neg-05',
'neg-025',
'neg-2px',
'neg-1px',
'0',
'1px',
'2px',
'025',
'05',
'1',
'105',
'2',
'205',
'3',
'4',
'5',
'6',
'7',
'8',
'9',
'10',
'15',
'20',
;

$semantic-size-values:('card': var(--#{prefix.$cssVar}-spacing-card),
    'mobile': var(--#{prefix.$cssVar}-spacing-mobile),
    'mobile-lg': var(--#{prefix.$cssVar}-spacing-mobile-lg),
    'tablet': var(--#{prefix.$cssVar}-spacing-tablet),
    'tablet-lg': var(--#{prefix.$cssVar}-spacing-tablet-lg),
    'desktop': var(--#{prefix.$cssVar}-spacing-desktop),
    'desktop-lg': var(--#{prefix.$cssVar}-spacing-desktop-lg),
    'widescreen': var(--#{prefix.$cssVar}-spacing-widescreen),
    'section': var(--#{prefix.$cssVar}-spacing-section),
    'aside': var(--#{prefix.$cssVar}-spacing-aside),
);

$semantic-spacing-values: '2xs',
'xs',
'sm',
'md',
'lg',
'xl',
'2xl',
'3xl';