@use 'core/styles/variables/breakpoints'as vars;
@use 'core/styles/variables/fonts'as font-vars;
@use 'core/styles/variables/prefix'as prefix;

// ---------- Font family utilities ----------

@mixin generate-font-family-classes($names: font-vars.$font-family-names) {
    @each $name in $names {
        .font-#{$name} {
            font-family: var(--#{prefix.$cssVar}-font-family-#{$name});
        }
    }
}

// ---------- Font size utilities ----------

@mixin generate-font-size-classes($sizes: font-vars.$font-family-sizes) {
    @each $size in $sizes {

        .font-#{$size},
        .text-#{$size} {
            font-size: var(--#{prefix.$cssVar}-font-size-#{$size});
        }
    }
}

@mixin generate-font-size-media-queries($sizes: font-vars.$font-family-sizes, $breakpoints: vars.$breakpoints) {

    @each $breakpoint,
    $min-width in $breakpoints {
        @media (min-width: #{$min-width}) {
            @each $size in $sizes {

                .#{$breakpoint}\:font-#{$size},
                .#{$breakpoint}\:text-#{$size} {
                    font-size: var(--#{prefix.$cssVar}-font-size-#{$size});
                }
            }
        }
    }
}

// ---------- Line height utilities ----------


$default-line-heights: 0,
1,
2,
3,
4,
5;

@mixin generate-line-height-classes($sizes: $default-line-heights) {
    @each $size in $sizes {
        $value: 0;

        @if $size !=0 {
            $value: var(--#{prefix.$cssVar}-line-height-#{$size});
        }

        .line-height-#{$size} {
            line-height: $value;
        }
    }
}

@mixin generate-line-height-media-queries($sizes: $default-line-heights, $breakpoints: vars.$breakpoints) {

    @each $breakpoint,
    $min-width in $breakpoints {
        @media (min-width: #{$min-width}) {
            @each $size in $sizes {
                $value: 0;

                @if $size !=0 {
                    $value: var(--#{prefix.$cssVar}-line-height-#{$size});
                }

                .#{$breakpoint}\:line-height-#{$size} {
                    line-height: $value;
                }
            }
        }
    }
}

// ---------- Font weight utilities ----------

$default-font-weights: 'thin',
    'extralight',
    'light',
    'normal',
    'medium',
    'semibold',
    'bold',
    'extrabold',
    'black';

@mixin generate-font-weight-classes($values: $default-font-weights) {

    @each $weight in $values {

        .font-weight-#{$key},
        .text-#{$key} {
            font-weight: var(--#{prefix.$cssVar}-font-weight-#{$weight});
        }
    }

}

@mixin generate-font-weight-media-queries($values: $default-font-weights, $breakpoints: vars.$breakpoints) {

    @each $breakpoint,
    $min-width in $breakpoints {
        @media (min-width: #{$min-width}) {

            @each $weight in $values {

                .#{$breakpoint}\:font-weight-#{$key},
                .#{$breakpoint}\:text-#{$key} {
                    font-weight: var(--#{prefix.$cssVar}-font-weight-#{$weight});
                }
            }
        }
    }
}


// ---------- Tracking (letterspacing) utilities ----------

$default-tracking-values: 'tighter',
    'tight',
    'normal',
    'wide',
    'wider';

@mixin generate-tracking-classes($values: $default-tracking-values) {

    @each $spacing in $values {

        .letter-spacing-#{$key},
        .tracking-#{$key} {
            letter-spacing: var(--#{prefix.$cssVar}-letter-spacing-#{$spacing});
        }
    }

}

// ---------- Measure utilities ----------


$default-text-measures: 0,
1,
2,
3,
4,
5;

@mixin generate-text-measure-classes($values: $default-text-measures) {
    @each $item in $values {
        $value: 'none';

        @if $item !=0 {
            $value: var(--#{prefix.$cssVar}-text-measure-#{$item});
        }

        .measure-#{$item} {
            max-width: $value;
        }
    }
}

@mixin generate-text-measure-media-queries($values: $default-text-measures, $breakpoints: vars.$breakpoints) {

    @each $breakpoint,
    $min-width in $breakpoints {
        @media (min-width: #{$min-width}) {

            @each $item in $values {

                $value: 'none';

                @if $item !=0 {
                    $value: var(--#{prefix.$cssVar}-text-measure-#{$item});
                }

                .#{$breakpoint}\:measure-#{$item} {
                    max-width: $value;
                }
            }
        }
    }
}

// ---------- Line clamp utilities ----------


$default-line-clamp-values: 1,
2,
3,
4,
5,
10,
15;

@mixin generate-line-clamp-classes($values: $default-line-clamp-values) {
    .line-clamp-unset {
        overflow: visible;
        display: block;
        -webkit-box-orient: horizontal;
        -webkit-line-clamp: unset;
    }

    @each $item in $values {


        .line-clamp-#{$item} {
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: $item;
        }



    }
}

@mixin generate-line-clamp-media-queries($values: $default-line-clamp-values, $breakpoints: vars.$breakpoints) {

    @each $breakpoint,
    $min-width in $breakpoints {
        @media (min-width: #{$min-width}) {

            .#{$breakpoint}\:line-clamp-unset {
                overflow: visible;
                display: block;
                -webkit-box-orient: horizontal;
                -webkit-line-clamp: unset;
            }

            @each $item in $values {

                .#{$breakpoint}\:line-clamp-#{$item} {
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: $item;
                }
            }
        }
    }
}