@mixin font-utilities($font-family) {
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    font-weight-rendering: optimizeLegibility;
    font-optical-sizing: auto;
    font-style: normal;
  }

// Font families

.font-family-primary {
    @include font-utilities(var(--zbk-font-family-primary));
}

.font-family-secondary {
    @include font-utilities(var(--zbk-font-family-secondary));
}

.font-family-alternate, .font-family-alt {
    @include font-utilities(var(--zbk-font-family-alt));
}

.font-family-monospace, .font-family-mono {
    @include font-utilities(var(--zbk-font-family-monospace));
}

.font-family-interface {
    @include font-utilities(var(--zbk-font-family-interface));
    letter-spacing: var(--zbk-letter-spacing-interface);
    line-height: var(--zbk-line-height-interface);
}

.font-family-heading {
    @include font-utilities(var(--zbk-font-family-heading));
    letter-spacing: var(--zbk-letter-spacing-heading);
    line-height: var(--zbk-line-height-heading);
}

.font-family-body {
    @include font-utilities(var(--zbk-font-family-body));
    letter-spacing: var(--zbk-letter-spacing-body);
    line-height: var(--zbk-line-height-body);
}

.font-family-code {
    @include font-utilities(var(--zbk-font-family-code));
    letter-spacing: var(--zbk-letter-spacing-code);
    line-height: var(--zbk-line-height-code);
}

// Line height

.line-height-1 {
    line-height: var(--zbk-line-height-1);
}

.line-height-2 {
    line-height: var(--zbk-line-height-2);
}

.line-height-3 {
    line-height: var(--zbk-line-height-3);
}

.line-height-4 {
    line-height: var(--zbk-line-height-4);
}

.line-height-5 {
    line-height: var(--zbk-line-height-5);
}

.line-height-interface {
    line-height: var(--zbk-line-height-interface);
}

.line-height-heading {
    line-height: var(--zbk-line-height-heading);
}

.line-height-body {
    line-height: var(--zbk-line-height-body);
}

.line-height-code {
    line-height: var(--zbk-line-height-code);
}

// Letter spacing

.letter-spacing-neg-2 {
    letter-spacing: var(--zbk-letter-spacing-neg-2);
}

.letter-spacing-neg-1 {
    letter-spacing: var(--zbk-letter-spacing-neg-1);
}

.letter-spacing-0 {
    letter-spacing: var(--zbk-letter-spacing-0);
}

.letter-spacing-1 {
    letter-spacing: var(--zbk-letter-spacing-1);
}

.letter-spacing-2 {
    letter-spacing: var(--zbk-letter-spacing-2);
}

// Text weight

.font-family-weight-100 {
    font-weight: 100;
}

.font-family-weight-200 {
    font-weight: 200;
}

.font-family-weight-300 {
    font-weight: 300;
}

.font-family-weight-400 {
    font-weight: 400;
}

.font-family-weight-500 {
    font-weight: 500;
}

.font-family-weight-600 {
    font-weight: 600;
}

.font-family-weight-700 {
    font-weight: 700;
}

.font-family-weight-800 {
    font-weight: 800;
}

.font-family-weight-900 {
    font-weight: 900;
}

.text-tabular-numbers {
    font-variant: tabular-nums;
}