@use 'core/styles/variables/prefix'as prefix;

.prose > h5, h5.prose {
  font-family: var(--#{prefix.$cssVar}-h5-font-family);
  font-size: var(--#{prefix.$cssVar}-h5-font-size);
  font-weight: var(--#{prefix.$cssVar}-h5-font-weight);
  line-height: var(--#{prefix.$cssVar}-h5-line-height);
  letter-spacing: var(--#{prefix.$cssVar}-h5-letter-spacing);
  max-width: var(--#{prefix.$cssVar}-h5-measure);
  color: var(--#{prefix.$cssVar}-h5-color);
  font-style: var(--#{prefix.$cssVar}-h5-font-style);
  text-transform: var(--#{prefix.$cssVar}-h5-text-transform);
}

.prose>*+h5 {
  margin-top:var(--#{prefix.$cssVar}-h5-spacing-before);
}

.prose>h5+*, h5.prose+* {
  margin-top:var(--#{prefix.$cssVar}-h5-spacing-after);
}