$breakpoint-tablet: 40rem !default;
$breakpoint-tablet-lg: 50rem !default;
$breakpoint-desktop: 70rem !default;
$breakpoint-desktop-lg: 80rem !default;
$breakpoint-widescreen: 100rem !default;

$breakpoints: (
    'tablet': $breakpoint-tablet,
    'tablet-lg': $breakpoint-tablet-lg,
    'desktop': $breakpoint-desktop,
    'desktop-lg': $breakpoint-desktop-lg,
    'widescreen': $breakpoint-widescreen
);