@use 'tokens/styles/variables/breakpoints'as vars;
@use 'tokens/styles/variables/prefix'as prefix;
@use 'sass:meta';


$default-semantic-values: '0',
'2xs',
'xs',
'sm',
'md',
'lg',
'xl';

$default-width-directions: ('': null, // All sides
    '-y': ('top', 'bottom'), // Top and Bottom
    '-x': ('left', 'right'), // Left and Right
    '-top': 'top',
    '-bottom': 'bottom',
    '-left': 'left',
    '-right': 'right',
);

$default-radius-directions: ('': null, // All sides
    '-top': ('top-left', 'top-right'),
    '-bottom': ('bottom-left', 'bottom-right'),
    '-left': ('top-left', 'bottom-left'),
    '-right': ('top-right', 'bottom-right'),
    '-top-left': 'top-left',
    '-top-right': 'top-right',
    '-bottom-left': 'bottom-left',
    '-bottom-right': 'bottom-right',
);

// ---------- Border width utilities ----------

@mixin generate-border-width-classes($property, $values: $default-semantic-values, $directions: $default-width-directions) {
    @each $item in $values {

        $value: 0;

        @if $item !='0' {
            $value: var(--#{prefix.$cssVar}-#{$property}-#{$item});
        }

        @each $direction,
        $sides in $directions {
            .#{$property}#{$direction}-#{$item} {
                @if meta.type-of($sides)=='string' {
                    border-#{$sides}-width: #{$value};
                }

                @else if $sides==null {
                    border-width: #{$value};
                }

                @else {
                    @each $side in $sides {
                        border-#{$side}-width: #{$value};
                    }
                }
            }
        }
    }
}

@mixin generate-border-width-media-queries($property, $values: $default-semantic-values, $breakpoints: vars.$resolved) {

    @each $breakpoint,
    $min-width in $breakpoints {
        @media (min-width: #{$min-width}) {
            @each $item in $values {
                $value: 0;

                @if $item !='0' {
                    $value: var(--#{prefix.$cssVar}-#{$property}-#{$item});
                }

                @each $direction,
                $sides in $default-width-directions {
                    .#{$breakpoint}\:#{$property}#{$direction}-#{$item} {
                        @if meta.type-of($sides)=='string' {
                            border-#{$sides}-width: #{$value};
                        }

                        @else if $sides==null {
                            border-width: #{$value};
                        }

                        @else {
                            @each $side in $sides {
                                border-#{$side}-width: #{$value};
                            }
                        }
                    }
                }
            }
        }
    }
}


// ---------- Border radius utilities ----------

@mixin generate-border-radius-classes($property, $values: $default-semantic-values, $directions: $default-radius-directions) {
    @each $item in $values {

        $value: 0;

        @if $item !='0' {
            $value: var(--#{prefix.$cssVar}-border-#{$property}-#{$item});
        }

        @if $item=='pill' {
            $value: 99rem;
        }

        @each $direction,
        $sides in $directions {
            .#{$property}#{$direction}-#{$item} {
                @if meta.type-of($sides)=='string' {
                    border-#{$sides}-radius: #{$value};
                }

                @else if $sides==null {
                    border-radius: #{$value};
                }

                @else {
                    @each $side in $sides {
                        border-#{$side}-radius: #{$value};
                    }
                }
            }
        }
    }
}

@mixin generate-border-radius-media-queries($property, $values: $default-semantic-values, $breakpoints: vars.$resolved) {

    @each $breakpoint,
    $min-width in $breakpoints {
        @media (min-width: #{$min-width}) {
            @each $item in $values {
                $value: 0;

                @if $item !='0' {
                    $value: var(--#{prefix.$cssVar}-border-#{$property}-#{$item});
                }

                @if $item=='pill' {
                    $value: 99rem;
                }

                @each $direction,
                $sides in $default-radius-directions {
                    .#{$breakpoint}\:#{$property}#{$direction}-#{$item} {
                        @if meta.type-of($sides)=='string' {
                            border-#{$sides}-radius: #{$value};
                        }

                        @else if $sides==null {
                            border-radius: #{$value};
                        }

                        @else {
                            @each $side in $sides {
                                border-#{$side}-radius: #{$value};
                            }
                        }
                    }
                }
            }
        }
    }
}
