:root {
    --zbk-line-height-modifier: 1;
    --zbk-a11y-spacing-modifier: 1;
    --zbk-a11y-transition-timing-modifier: 1;

    --zbk-font-size-2xs-modifier: 1;
    --zbk-font-size-xs-modifier: 1;
    --zbk-font-size-sm-modifier: 1;
    --zbk-font-size-md-modifier: 1;
    --zbk-font-size-lg-modifier: 1;
    --zbk-font-size-xl-modifier: 1;
    --zbk-font-size-2xl-modifier: 1;
    --zbk-font-size-3xl-modifier: 1;
}
