:root {

    // High contrast
    // HEX: #3c025e
    --high-contrast-h: 278;
    --high-contrast-s: 96%;
    --high-contrast-l: 16%;
    --high-contrast: hsl(var(--high-contrast-h), var(--high-contrast-s), var(--high-contrast-l));
    --high-contrast-100: hsl(var(--high-contrast-h), var(--high-contrast-s), 93%);
    --high-contrast-300: hsl(var(--high-contrast-h), var(--high-contrast-s), 78%);
    --high-contrast-500: hsl(var(--high-contrast-h), var(--high-contrast-s), 28%);
    --high-contrast-600: hsl(var(--high-contrast-h), var(--high-contrast-s), 20%);
    --high-contrast-700: hsl(var(--high-contrast-h), var(--high-contrast-s), 11%);
  
    // HEX: #ffff00
    --high-contrast-accent-h: 60;
    --high-contrast-accent-s: 100%;
    --high-contrast-accent-l: 70%;
    --high-contrast-accent: hsl(var(--high-contrast-accent-h), var(--high-contrast-accent-s), var(--high-contrast-accent-l));
  
    // Subtle
    // HEX: #3c025e
    --monochrome-h: 0;
    --monochrome-s: 2%;
    --monochrome-l: 96%;
    --monochrome: hsl(var(--monochrome-h), var(--monochrome-s), var(--monochrome-l));
    --monochrome-100: hsl(var(--monochrome-h), var(--monochrome-s), 93%);
    --monochrome-300: hsl(var(--monochrome-h), var(--monochrome-s), 78%);
    --monochrome-500: hsl(var(--monochrome-h), var(--monochrome-s), 28%);
    --monochrome-600: hsl(var(--monochrome-h), var(--monochrome-s), 20%);
    --monochrome-700: hsl(var(--monochrome-h), var(--monochrome-s), 11%);
  
    // HEX: #ffff00
    --monochrome-accent-h: 0;
    --monochrome-accent-s: 2%;
    --monochrome-accent-l: 8%;
    --monochrome-accent: hsl(var(--monochrome-accent-h), var(--monochrome-accent-s), var(--monochrome-accent-l));
  
  
    // Sea foam
    // HEX: #c9e3ca
    --mint-h: 122;
    --mint-s: 32%;
    --mint-l: 84%;
    --mint: hsl(var(--mint-h), var(--mint-s), var(--mint-l));
    --mint-100: hsl(var(--mint-h), var(--mint-s), 93%);
    --mint-300: hsl(var(--mint-h), var(--mint-s), 78%);
    --mint-500: hsl(var(--mint-h), var(--mint-s), 28%);
    --mint-600: hsl(var(--mint-h), var(--mint-s), 20%);
    --mint-700: hsl(var(--mint-h), var(--mint-s), 11%);
    // HEX: #551700
    --mint-accent-h: 16;
    --mint-accent-s: 100%;
    --mint-accent-l: 14%;
    --mint-accent: hsl(var(--mint-accent-h), var(--mint-accent-s), var(--mint-accent-l));
  
    // HEX: #411b20
    // Chocolate Kiss
    --merlot-h: 271;
    --merlot-s: 55%;
    --merlot-l: 81%;
    --merlot: hsl(var(--merlot-h), var(--merlot-s), var(--merlot-l));
    --merlot-100: hsl(var(--merlot-h), var(--merlot-s), 93%);
    --merlot-500: hsl(var(--merlot-h), 40%, 28%);
    --merlot-700: hsl(var(--merlot-h), var(--merlot-s), 11%);
  
    --merlot-accent-h: 120;
    --merlot-accent-s: 100%;
    --merlot-accent-l: 9%;
    --merlot-accent: hsl(var(--merlot-accent-h), var(--merlot-accent-s), var(--merlot-accent-l));
  
  
    // Blush
    --blush-h: 307;
    --blush-s: 35%;
    --blush-l: 88%;
    --blush: hsl(var(--blush-h), var(--blush-s), var(--blush-l));
    --blush-100: hsl(var(--blush-h), var(--blush-s), 93%);
    --blush-300: hsl(var(--blush-h), var(--blush-s), 77%);
    --blush-500: hsl(var(--blush-h), var(--blush-s), 73%);
    --blush-600: hsl(var(--blush-h), var(--blush-s), 30%);
    --blush-700: hsl(var(--blush-h), var(--blush-s), 11%);
  
    --blush-accent-h: 72;
    --blush-accent-s: 44%;
    --blush-accent-l: 20%;
    --blush-accent: hsl(var(--blush-accent-h), var(--blush-accent-s), var(--blush-accent-l));
  
    // Butterfield
    // HEX: #f3e9ce
    --butterfield-h: 44;
    --butterfield-s: 61%;
    --butterfield-l: 88%;
    --butterfield: hsl(var(--butterfield-h), var(--butterfield-s), var(--butterfield-l));
    --butterfield-100: hsl(var(--butterfield-h), var(--butterfield-s), 93%);
    --butterfield-500: hsl(var(--butterfield-h), var(--butterfield-s), 35%);
    --butterfield-700: hsl(var(--butterfield-h), var(--butterfield-s), 11%);
  
    --butterfield-accent-h: 251;
    --butterfield-accent-s: 43%;
    --butterfield-accent-l: 24%;
    --butterfield-accent: hsl(var(--butterfield-accent-h), var(--butterfield-accent-s), var(--butterfield-accent-l));
  
    --sea-h: 198;
    --sea-s: 56%;
    --sea-l: 78%;
    --sea: hsl(var(--sea-h), var(--sea-s), var(--sea-l));
    --sea-100: hsl(var(--sea-h), var(--sea-s), 93%);
    --sea-300: hsl(var(--sea-h), var(--sea-s), 73%);
    --sea-500: hsl(var(--sea-h), var(--sea-s), 28%);
    --sea-600: hsl(var(--sea-h), var(--sea-s), 20%);
    --sea-700: hsl(var(--sea-h), var(--sea-s), 13%);
  
    --sea-accent-h: 18;
    --sea-accent-s: 54%;
    --sea-accent-l: 18%;
    --sea-accent: hsl(var(--sea-accent-h), var(--sea-accent-s), var(--sea-accent-l));
  
    --primary-h: var(--butterfield-h);
    --primary-s: var(--butterfield-s);
    --primary-l: var(--butterfield-l);
  
    --primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
    --primary-medium: var(--primary-600);
    --primary-subtle: hsl(var(--primary-h), 10%, 78%);
  
    --primary-50: hsl(var(--primary-h), var(--primary-s), 97%);
    --primary-100: hsl(var(--primary-h), var(--primary-s), 95%);
    --primary-200: hsl(var(--primary-h), var(--primary-s), 88%);
    --primary-300: hsl(var(--primary-h), var(--primary-s), 78%);
    --primary-400: hsl(var(--primary-h), var(--primary-s), 60%);
    --primary-500: hsl(var(--primary-h), var(--primary-s), 45%);
    --primary-600: hsl(var(--primary-h), var(--primary-s), 24%);
    --primary-700: hsl(var(--primary-h), var(--primary-s), 11%);
  
    --accent-h: var(--butterfield-accent-h);
    --accent-s: var(--butterfield-accent-s);
    --accent-l: var(--butterfield-accent-l);
  
    --accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    --accent-medium: var(--accent-600);
    --accent-subtle: hsl(var(--accent-h), 10%, 78%);
  
    --accent-50: hsl(var(--accent-h), var(--accent-s), 98%);
    --accent-100: hsl(var(--accent-h), var(--accent-s), 92%);
    --accent-200: hsl(var(--accent-h), var(--accent-s), 82%);
    --accent-300: hsl(var(--accent-h), var(--accent-s), 70%);
    --accent-400: hsl(var(--accent-h), var(--accent-s), 60%);
    --accent-500: hsl(var(--accent-h), var(--accent-s), 40%);
    --accent-600: hsl(var(--accent-h), var(--accent-s), 20%);
    --accent-700: hsl(var(--accent-h), var(--accent-s), 11%);
  
    --background-obscure: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.825);
  
    --ink: var(--accent);
    --reverse-ink: var(--accent-50);
    --body-background: var(--primary-100);
    --focus-color: hsl(320, 69%, 57%);
    --action: #542CDB;
  
    --footer-background: var(--accent);
    --footer-ink: var(--primary);
    --footer-link: var(--base-lightest);
  
    --code-50: var(--base-lighter);
    --code-ink:var(--primary-50);
    --code-background: var(--accent-700);
  
  
    --link: dodgerblue;
    --link-hover: dodgerblue;
    --link-visited: purple;
    --reverse-link:hsl(210, 100%, 86%);
    --reverse-link-hover: hsl(210, 100%, 86%);
    --reverse-link-visited: 	hsl(300, 40%, 86%);
  
    --base-darkest: #020202;
    --base-darker: #202020;
    --base-dark: #444;
    --base-light: #999;
    --base-lighter: #dadada;
    --base-lightest: #fcfcfc;
  
    --shadow-h: var(--primary-h);
    --shadow-s: calc(var(--primary-s) * .33);
    --shadow-l: 50%;
  
    --viewport-background: var(--body-background);
  
    --component-background: var(--accent);
    // linear-gradient(to left,
    //         hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) / 2)) 0%,
    //         var(--primary) 8%,
    //         var(--primary) 92%,
    //         hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) / 2)) 100%);
  
    --component-shadow-color: hsla(329, 18%, 37%, .525);
    --component-border-color: var(--accent);
    --component-foreground: var(--primary);
    --component-ink: var(--ink);
    --component-reverse-ink: var(--primary);
  }
  
  html *::selection {
    color: black;
    background: cyan;
  }
  
  [data-theme="dark"] {
    --body-background: var(--primary-700);
  }
  
  [data-a11y-theme="butterfield"] {
    --primary-h: var(--butterfield-h);
    --primary-s: var(--butterfield-s);
    --primary-l: var(--butterfield-l);
  
    --accent-h: var(--butterfield-accent-h);
    --accent-s: var(--butterfield-accent-s);
    --accent-l: var(--butterfield-accent-l);
  
    --focus-color: 		hsl(180, 100%, 40%);
  
    --action: hsl(358, 73%, 56%);
  
    --link: hsl(358, 73%, 56%);
    --link-hover: 	hsl(358, 73%, 46%);
    --link-visited: hsl(358, 53%, 36%);
  
    --reverse-link:hsl(358, 73%, 88%);
    --reverse-link-hover: hsl(358, 73%, 92%);
    --reverse-link-visited: 	hsl(358, 43%, 82%);
  }
  
  [data-a11y-theme="mint"] {
    --primary-h: var(--mint-h);
    --primary-s: var(--mint-s);
    --primary-l: var(--mint-l);
  
    --accent-h: var(--mint-accent-h);
    --accent-s: var(--mint-accent-s);
    --accent-l: var(--mint-accent-l);
  
    --action: 	hsl(202, 88%, 40%);
    --focus-color: #ff00ff;
  
    --link:	var(--action);
    --link-hover:	hsl(202, 88%, 44%);
    --link-visited:#561B8D;
  
    --base-darkest: hsl(247, 38%, 9%);
    --base-darker: hsl(247, 38%, 18%);
    --base-dark: hsl(247, 38%, 20%);
  }
  
  [data-a11y-theme="merlot"] {
    --primary-h: var(--merlot-h);
    --primary-s: var(--merlot-s);
    --primary-l: var(--merlot-l);
  
    --accent-h: var(--merlot-accent-h);
    --accent-s: var(--merlot-accent-s);
    --accent-l: var(--merlot-accent-l);
  
    &[data-theme="dark"] {
      --primary-h: var(--merlot-accent-h);
      --primary-s: var(--merlot-accent-s);
      --primary-l: var(--merlot-accent-l);
  
      --accent-h: var(--merlot-h);
      --accent-s: var(--merlot-s);
      --accent-l: var(--merlot-l);
  
    }
  }
  
  [data-a11y-theme="blush"] {
    --primary-h: var(--blush-h);
    --primary-s: var(--blush-s);
    --primary-l: var(--blush-l);
  
    --accent-h: var(--blush-accent-h);
    --accent-s: var(--blush-accent-s);
    --accent-l: var(--blush-accent-l);
  
    --focus-color: 	hsl(39, 100%, 44%);
    --action: hsl(180, 100%, 25%);
  
    --link: var(--action);
    --link-hover:hsl(180, 100%, 30%);
    --link-visited:hsl(180, 80%, 20%);
  
    --reverse-link: hsl(180, 100%, 90%);
    --reverse-link-hover:hsl(180, 100%, 85%);
    --reverse-link-visited:hsl(180, 50%, 77%);
  }
  
  [data-a11y-theme="sea"] {
    --primary-h: var(--sea-h);
    --primary-s: var(--sea-s);
    --primary-l: var(--sea-l);
  
    --accent-h: var(--sea-accent-h);
    --accent-s: var(--sea-accent-s);
    --accent-l: var(--sea-accent-l);
  
    &[data-theme="dark"] {
      --primary-h: var(--sea-accent-h);
      --primary-s: var(--sea-accent-s);
      --primary-l: var(--sea-accent-l);
  
      --accent-h: var(--sea-h);
      --accent-s: var(--sea-s);
      --accent-l: var(--sea-l);
  
    }
  }
  
  [data-a11y-theme="monochrome"] {
    --primary-h: var(--monochrome-h);
    --primary-s: var(--monochrome-s);
    --primary-l: var(--monochrome-l);
  
    --accent-h: var(--monochrome-accent-h);
    --accent-s: var(--monochrome-accent-s);
    --accent-l: var(--monochrome-accent-l);
  
    --focus-color: 	hsl(180, 100%, 40%);
    --action: hsl(124, 7%, 34%);
  
    --link: var(--ink);
    --link-hover: var(--ink);
    --link-visited: hsl(0, 7%, 20%);
  
    --reverse-link: var(--reverse-ink);
    --reverse-link-hover: var(--reverse-ink);
    --reverse-link-visited: 	hsl(0, 7%, 80%);
  
    --accordion-content-border-color: var(--primary-300) !important;
  }
  
  
  [data-a11y-theme="high-contrast"] {
    --primary-h: var(--high-contrast-h);
    --primary-s: var(--high-contrast-s);
    --primary-l: var(--high-contrast-l);
  
    --accent-h: var(--high-contrast-accent-h);
    --accent-s: var(--high-contrast-accent-s);
    --accent-l: var(--high-contrast-accent-l);
  
    --primary-50: hsl(var(--primary-h), var(--primary-s), 97%);
    --primary-100: hsl(var(--primary-h), var(--primary-s), 5%);
    --primary-200: hsl(var(--primary-h), var(--primary-s), 88%);
    --primary-300: hsl(var(--primary-h), var(--primary-s), 78%);
    --primary-400: hsl(var(--primary-h), var(--primary-s), 60%);
    --primary-500: hsl(var(--primary-h), var(--primary-s), 14%);
    --primary-600: hsl(var(--primary-h), var(--primary-s), 8%);
    --primary-700: hsl(var(--primary-h), var(--primary-s), 4%);
  
    --ink: var(--accent);
    --reverse-ink: black;
    --body-background: var(--primary-700);
    --background-obscure: hsla(var(--primary-h), var(--primary-s), 10%, 0.975);
  
    .randomized-background-pattern {
      opacity: 0;
    }
  
    --footer-background: var(--base-darker);
    --footer-ink: var(--ink);
    --footer-link: var(--link);
  
    footer .stroke-primary {
      stroke:var(--ink);
    }
  
    .tracklist {
      background-color: var(--base-darker) !important;
      color:var(--ink);
    }
  
    .banner-card  {
      background: var(--primary);
    }
  
    --accordion-toggle-ink: var(--accent) !important;
    --base-darker: #020202;
    --base-darkest: black;
  
    --component-reverse-ink: var(--accent);
    --accordion-content-border-color: var(--accent) !important;
  
    --focus-color: #ff00ff;
    --action: cyan;
  
    --link: #0de6b3;
    --link-hover: #0de6b3;
    --link-visited: #fd90b9;
  }