:root {

    // High contrast
    // HEX: #3c025e
    --zbk-high-contrast-h: 278;
    --zbk-high-contrast-s: 96%;
    --zbk-high-contrast-l: 16%;
    --zbk-high-contrast: hsl(var(--zbk-high-contrast-h), var(--zbk-high-contrast-s), var(--zbk-high-contrast-l));
    --zbk-high-contrast-100: hsl(var(--zbk-high-contrast-h), var(--zbk-high-contrast-s), 93%);
    --zbk-high-contrast-300: hsl(var(--zbk-high-contrast-h), var(--zbk-high-contrast-s), 78%);
    --zbk-high-contrast-500: hsl(var(--zbk-high-contrast-h), var(--zbk-high-contrast-s), 28%);
    --zbk-high-contrast-600: hsl(var(--zbk-high-contrast-h), var(--zbk-high-contrast-s), 20%);
    --zbk-high-contrast-700: hsl(var(--zbk-high-contrast-h), var(--zbk-high-contrast-s), 11%);
  
    // HEX: #ffff00
    --zbk-high-contrast-accent-h: 60;
    --zbk-high-contrast-accent-s: 100%;
    --zbk-high-contrast-accent-l: 70%;
    --zbk-high-contrast-accent: hsl(var(--zbk-high-contrast-accent-h), var(--zbk-high-contrast-accent-s), var(--zbk-high-contrast-accent-l));
  
    // Subtle
    // HEX: #3c025e
    --zbk-monochrome-h: 0;
    --zbk-monochrome-s: 2%;
    --zbk-monochrome-l: 96%;
    --zbk-monochrome: hsl(var(--zbk-monochrome-h), var(--zbk-monochrome-s), var(--zbk-monochrome-l));
    --zbk-monochrome-100: hsl(var(--zbk-monochrome-h), var(--zbk-monochrome-s), 93%);
    --zbk-monochrome-300: hsl(var(--zbk-monochrome-h), var(--zbk-monochrome-s), 78%);
    --zbk-monochrome-500: hsl(var(--zbk-monochrome-h), var(--zbk-monochrome-s), 28%);
    --zbk-monochrome-600: hsl(var(--zbk-monochrome-h), var(--zbk-monochrome-s), 20%);
    --zbk-monochrome-700: hsl(var(--zbk-monochrome-h), var(--zbk-monochrome-s), 11%);
  
    // HEX: #ffff00
    --zbk-monochrome-accent-h: 0;
    --zbk-monochrome-accent-s: 2%;
    --zbk-monochrome-accent-l: 8%;
    --zbk-monochrome-accent: hsl(var(--zbk-monochrome-accent-h), var(--zbk-monochrome-accent-s), var(--zbk-monochrome-accent-l));
  
  
    // Sea foam
    // HEX: #c9e3ca
    --zbk-mint-h: 122;
    --zbk-mint-s: 32%;
    --zbk-mint-l: 84%;
    --zbk-mint: hsl(var(--zbk-mint-h), var(--zbk-mint-s), var(--zbk-mint-l));
    --zbk-mint-100: hsl(var(--zbk-mint-h), var(--zbk-mint-s), 93%);
    --zbk-mint-300: hsl(var(--zbk-mint-h), var(--zbk-mint-s), 78%);
    --zbk-mint-500: hsl(var(--zbk-mint-h), var(--zbk-mint-s), 28%);
    --zbk-mint-600: hsl(var(--zbk-mint-h), var(--zbk-mint-s), 20%);
    --zbk-mint-700: hsl(var(--zbk-mint-h), var(--zbk-mint-s), 11%);
    // HEX: #551700
    --zbk-mint-accent-h: 16;
    --zbk-mint-accent-s: 100%;
    --zbk-mint-accent-l: 14%;
    --zbk-mint-accent: hsl(var(--zbk-mint-accent-h), var(--zbk-mint-accent-s), var(--zbk-mint-accent-l));
  
    // HEX: #411b20
    // Chocolate Kiss
    --zbk-merlot-h: 271;
    --zbk-merlot-s: 55%;
    --zbk-merlot-l: 81%;
    --zbk-merlot: hsl(var(--zbk-merlot-h), var(--zbk-merlot-s), var(--zbk-merlot-l));
    --zbk-merlot-100: hsl(var(--zbk-merlot-h), var(--zbk-merlot-s), 93%);
    --zbk-merlot-500: hsl(var(--zbk-merlot-h), 40%, 28%);
    --zbk-merlot-700: hsl(var(--zbk-merlot-h), var(--zbk-merlot-s), 11%);
  
    --zbk-merlot-accent-h: 120;
    --zbk-merlot-accent-s: 100%;
    --zbk-merlot-accent-l: 9%;
    --zbk-merlot-accent: hsl(var(--zbk-merlot-accent-h), var(--zbk-merlot-accent-s), var(--zbk-merlot-accent-l));
  
  
    // Blush
    --zbk-blush-h: 307;
    --zbk-blush-s: 35%;
    --zbk-blush-l: 88%;
    --zbk-blush: hsl(var(--zbk-blush-h), var(--zbk-blush-s), var(--zbk-blush-l));
    --zbk-blush-100: hsl(var(--zbk-blush-h), var(--zbk-blush-s), 93%);
    --zbk-blush-300: hsl(var(--zbk-blush-h), var(--zbk-blush-s), 77%);
    --zbk-blush-500: hsl(var(--zbk-blush-h), var(--zbk-blush-s), 73%);
    --zbk-blush-600: hsl(var(--zbk-blush-h), var(--zbk-blush-s), 30%);
    --zbk-blush-700: hsl(var(--zbk-blush-h), var(--zbk-blush-s), 11%);
  
    --zbk-blush-accent-h: 72;
    --zbk-blush-accent-s: 44%;
    --zbk-blush-accent-l: 20%;
    --zbk-blush-accent: hsl(var(--zbk-blush-accent-h), var(--zbk-blush-accent-s), var(--zbk-blush-accent-l));
  
    // Butterfield
    // HEX: #f3e9ce
    --zbk-butterfield-h: 44;
    --zbk-butterfield-s: 61%;
    --zbk-butterfield-l: 88%;
    --zbk-butterfield: hsl(var(--zbk-butterfield-h), var(--zbk-butterfield-s), var(--zbk-butterfield-l));
    --zbk-butterfield-100: hsl(var(--zbk-butterfield-h), var(--zbk-butterfield-s), 93%);
    --zbk-butterfield-500: hsl(var(--zbk-butterfield-h), var(--zbk-butterfield-s), 35%);
    --zbk-butterfield-700: hsl(var(--zbk-butterfield-h), var(--zbk-butterfield-s), 11%);
  
    --zbk-butterfield-accent-h: 251;
    --zbk-butterfield-accent-s: 43%;
    --zbk-butterfield-accent-l: 24%;
    --zbk-butterfield-accent: hsl(var(--zbk-butterfield-accent-h), var(--zbk-butterfield-accent-s), var(--zbk-butterfield-accent-l));
  
    --zbk-sea-h: 198;
    --zbk-sea-s: 56%;
    --zbk-sea-l: 78%;
    --zbk-sea: hsl(var(--zbk-sea-h), var(--zbk-sea-s), var(--zbk-sea-l));
    --zbk-sea-100: hsl(var(--zbk-sea-h), var(--zbk-sea-s), 93%);
    --zbk-sea-300: hsl(var(--zbk-sea-h), var(--zbk-sea-s), 73%);
    --zbk-sea-500: hsl(var(--zbk-sea-h), var(--zbk-sea-s), 28%);
    --zbk-sea-600: hsl(var(--zbk-sea-h), var(--zbk-sea-s), 20%);
    --zbk-sea-700: hsl(var(--zbk-sea-h), var(--zbk-sea-s), 13%);
  
    --zbk-sea-accent-h: 18;
    --zbk-sea-accent-s: 54%;
    --zbk-sea-accent-l: 18%;
    --zbk-sea-accent: hsl(var(--zbk-sea-accent-h), var(--zbk-sea-accent-s), var(--zbk-sea-accent-l));
  
    --zbk-primary-h: var(--zbk-butterfield-h);
    --zbk-primary-s: var(--zbk-butterfield-s);
    --zbk-primary-l: var(--zbk-butterfield-l);
  
    --zbk-primary: hsl(var(--zbk-primary-h), var(--zbk-primary-s), var(--zbk-primary-l));
    --zbk-primary-medium: var(--zbk-primary-600);
    --zbk-primary-subtle: hsl(var(--zbk-primary-h), 10%, 78%);
  
    --zbk-primary-50: hsl(var(--zbk-primary-h), var(--zbk-primary-s), 97%);
    --zbk-primary-100: hsl(var(--zbk-primary-h), var(--zbk-primary-s), 95%);
    --zbk-primary-200: hsl(var(--zbk-primary-h), var(--zbk-primary-s), 88%);
    --zbk-primary-300: hsl(var(--zbk-primary-h), var(--zbk-primary-s), 78%);
    --zbk-primary-400: hsl(var(--zbk-primary-h), var(--zbk-primary-s), 60%);
    --zbk-primary-500: hsl(var(--zbk-primary-h), var(--zbk-primary-s), 45%);
    --zbk-primary-600: hsl(var(--zbk-primary-h), var(--zbk-primary-s), 24%);
    --zbk-primary-700: hsl(var(--zbk-primary-h), var(--zbk-primary-s), 11%);
  
    --zbk-accent-h: var(--zbk-butterfield-accent-h);
    --zbk-accent-s: var(--zbk-butterfield-accent-s);
    --zbk-accent-l: var(--zbk-butterfield-accent-l);
  
    --zbk-accent: hsl(var(--zbk-accent-h), var(--zbk-accent-s), var(--zbk-accent-l));
    --zbk-accent-medium: var(--zbk-accent-600);
    --zbk-accent-subtle: hsl(var(--zbk-accent-h), 10%, 78%);
  
    --zbk-accent-50: hsl(var(--zbk-accent-h), var(--zbk-accent-s), 98%);
    --zbk-accent-100: hsl(var(--zbk-accent-h), var(--zbk-accent-s), 92%);
    --zbk-accent-200: hsl(var(--zbk-accent-h), var(--zbk-accent-s), 82%);
    --zbk-accent-300: hsl(var(--zbk-accent-h), var(--zbk-accent-s), 70%);
    --zbk-accent-400: hsl(var(--zbk-accent-h), var(--zbk-accent-s), 60%);
    --zbk-accent-500: hsl(var(--zbk-accent-h), var(--zbk-accent-s), 40%);
    --zbk-accent-600: hsl(var(--zbk-accent-h), var(--zbk-accent-s), 20%);
    --zbk-accent-700: hsl(var(--zbk-accent-h), var(--zbk-accent-s), 11%);
  
    --zbk-background-obscure: hsla(var(--zbk-accent-h), var(--zbk-accent-s), var(--zbk-accent-l), 0.825);
  
    --zbk-ink: var(--zbk-accent);
    --zbk-reverse-ink: var(--zbk-accent-50);
    --zbk-body-background: var(--zbk-primary-100);
    --zbk-focus-color: hsl(320, 69%, 57%);
    --zbk-action: #542CDB;
  
    --zbk-footer-background: var(--zbk-accent);
    --zbk-footer-ink: var(--zbk-primary);
    --zbk-footer-link: var(--zbk-base-lightest);
  
    --zbk-code-50: var(--zbk-base-lighter);
    --zbk-code-ink:var(--zbk-primary-50);
    --zbk-code-background: var(--zbk-accent-700);
  
  
    --zbk-link: dodgerblue;
    --zbk-link-hover: dodgerblue;
    --zbk-link-visited: purple;
    --zbk-reverse-link:hsl(210, 100%, 86%);
    --zbk-reverse-link-hover: hsl(210, 100%, 86%);
    --zbk-reverse-link-visited: 	hsl(300, 40%, 86%);
  
    --zbk-base-darkest: #020202;
    --zbk-base-darker: #202020;
    --zbk-base-dark: #444;
    --zbk-base-light: #999;
    --zbk-base-lighter: #dadada;
    --zbk-base-lightest: #fcfcfc;
  
    --zbk-shadow-h: var(--zbk-primary-h);
    --zbk-shadow-s: calc(var(--zbk-primary-s) * .33);
    --zbk-shadow-l: 50%;
  
    --zbk-viewport-background: var(--zbk-body-background);
  
    --zbk-component-background: var(--zbk-accent);
    // linear-gradient(to left,
    //         hsl(var(--zbk-primary-h), var(--zbk-primary-s), calc(var(--zbk-primary-l) / 2)) 0%,
    //         var(--zbk-primary) 8%,
    //         var(--zbk-primary) 92%,
    //         hsl(var(--zbk-primary-h), var(--zbk-primary-s), calc(var(--zbk-primary-l) / 2)) 100%);
  
    --zbk-component-shadow-color: hsla(329, 18%, 37%, .525);
    --zbk-component-border-color: var(--zbk-accent);
    --zbk-component-foreground: var(--zbk-primary);
    --zbk-component-ink: var(--zbk-ink);
    --zbk-component-reverse-ink: var(--zbk-primary);
  }
  
  html *::selection {
    color: black;
    background: cyan;
  }
  
  [data-theme="dark"] {
    --zbk-body-background: var(--zbk-primary-700);
  }
  
  [data-a11y-theme="butterfield"] {
    --zbk-primary-h: var(--zbk-butterfield-h);
    --zbk-primary-s: var(--zbk-butterfield-s);
    --zbk-primary-l: var(--zbk-butterfield-l);
  
    --zbk-accent-h: var(--zbk-butterfield-accent-h);
    --zbk-accent-s: var(--zbk-butterfield-accent-s);
    --zbk-accent-l: var(--zbk-butterfield-accent-l);
  
    --zbk-focus-color: 		hsl(180, 100%, 40%);
  
    --zbk-action: hsl(358, 73%, 56%);
  
    --zbk-link: hsl(358, 73%, 56%);
    --zbk-link-hover: 	hsl(358, 73%, 46%);
    --zbk-link-visited: hsl(358, 53%, 36%);
  
    --zbk-reverse-link:hsl(358, 73%, 88%);
    --zbk-reverse-link-hover: hsl(358, 73%, 92%);
    --zbk-reverse-link-visited: 	hsl(358, 43%, 82%);
  }
  
  [data-a11y-theme="mint"] {
    --zbk-primary-h: var(--zbk-mint-h);
    --zbk-primary-s: var(--zbk-mint-s);
    --zbk-primary-l: var(--zbk-mint-l);
  
    --zbk-accent-h: var(--zbk-mint-accent-h);
    --zbk-accent-s: var(--zbk-mint-accent-s);
    --zbk-accent-l: var(--zbk-mint-accent-l);
  
    --zbk-action: 	hsl(202, 88%, 40%);
    --zbk-focus-color: #ff00ff;
  
    --zbk-link:	var(--zbk-action);
    --zbk-link-hover:	hsl(202, 88%, 44%);
    --zbk-link-visited:#561B8D;
  
    --zbk-base-darkest: hsl(247, 38%, 9%);
    --zbk-base-darker: hsl(247, 38%, 18%);
    --zbk-base-dark: hsl(247, 38%, 20%);
  }
  
  [data-a11y-theme="merlot"] {
    --zbk-primary-h: var(--zbk-merlot-h);
    --zbk-primary-s: var(--zbk-merlot-s);
    --zbk-primary-l: var(--zbk-merlot-l);
  
    --zbk-accent-h: var(--zbk-merlot-accent-h);
    --zbk-accent-s: var(--zbk-merlot-accent-s);
    --zbk-accent-l: var(--zbk-merlot-accent-l);
  
    &[data-theme="dark"] {
      --zbk-primary-h: var(--zbk-merlot-accent-h);
      --zbk-primary-s: var(--zbk-merlot-accent-s);
      --zbk-primary-l: var(--zbk-merlot-accent-l);
  
      --zbk-accent-h: var(--zbk-merlot-h);
      --zbk-accent-s: var(--zbk-merlot-s);
      --zbk-accent-l: var(--zbk-merlot-l);
  
    }
  }
  
  [data-a11y-theme="blush"] {
    --zbk-primary-h: var(--zbk-blush-h);
    --zbk-primary-s: var(--zbk-blush-s);
    --zbk-primary-l: var(--zbk-blush-l);
  
    --zbk-accent-h: var(--zbk-blush-accent-h);
    --zbk-accent-s: var(--zbk-blush-accent-s);
    --zbk-accent-l: var(--zbk-blush-accent-l);
  
    --zbk-focus-color: 	hsl(39, 100%, 44%);
    --zbk-action: hsl(180, 100%, 25%);
  
    --zbk-link: var(--zbk-action);
    --zbk-link-hover:hsl(180, 100%, 30%);
    --zbk-link-visited:hsl(180, 80%, 20%);
  
    --zbk-reverse-link: hsl(180, 100%, 90%);
    --zbk-reverse-link-hover:hsl(180, 100%, 85%);
    --zbk-reverse-link-visited:hsl(180, 50%, 77%);
  }
  
  [data-a11y-theme="sea"] {
    --zbk-primary-h: var(--zbk-sea-h);
    --zbk-primary-s: var(--zbk-sea-s);
    --zbk-primary-l: var(--zbk-sea-l);
  
    --zbk-accent-h: var(--zbk-sea-accent-h);
    --zbk-accent-s: var(--zbk-sea-accent-s);
    --zbk-accent-l: var(--zbk-sea-accent-l);
  
    &[data-theme="dark"] {
      --zbk-primary-h: var(--zbk-sea-accent-h);
      --zbk-primary-s: var(--zbk-sea-accent-s);
      --zbk-primary-l: var(--zbk-sea-accent-l);
  
      --zbk-accent-h: var(--zbk-sea-h);
      --zbk-accent-s: var(--zbk-sea-s);
      --zbk-accent-l: var(--zbk-sea-l);
  
    }
  }
  
  [data-a11y-theme="monochrome"] {
    --zbk-primary-h: var(--zbk-monochrome-h);
    --zbk-primary-s: var(--zbk-monochrome-s);
    --zbk-primary-l: var(--zbk-monochrome-l);
  
    --zbk-accent-h: var(--zbk-monochrome-accent-h);
    --zbk-accent-s: var(--zbk-monochrome-accent-s);
    --zbk-accent-l: var(--zbk-monochrome-accent-l);
  
    --zbk-focus-color: 	hsl(180, 100%, 40%);
    --zbk-action: hsl(124, 7%, 34%);
  
    --zbk-link: var(--zbk-ink);
    --zbk-link-hover: var(--zbk-ink);
    --zbk-link-visited: hsl(0, 7%, 20%);
  
    --zbk-reverse-link: var(--zbk-reverse-ink);
    --zbk-reverse-link-hover: var(--zbk-reverse-ink);
    --zbk-reverse-link-visited: 	hsl(0, 7%, 80%);
  
    --zbk-accordion-content-border-color: var(--zbk-primary-300) !important;
  }
  
  
  [data-a11y-theme="high-contrast"] {
    --zbk-primary-h: var(--zbk-high-contrast-h);
    --zbk-primary-s: var(--zbk-high-contrast-s);
    --zbk-primary-l: var(--zbk-high-contrast-l);
  
    --zbk-accent-h: var(--zbk-high-contrast-accent-h);
    --zbk-accent-s: var(--zbk-high-contrast-accent-s);
    --zbk-accent-l: var(--zbk-high-contrast-accent-l);
  
    --zbk-primary-50: hsl(var(--zbk-primary-h), var(--zbk-primary-s), 97%);
    --zbk-primary-100: hsl(var(--zbk-primary-h), var(--zbk-primary-s), 5%);
    --zbk-primary-200: hsl(var(--zbk-primary-h), var(--zbk-primary-s), 88%);
    --zbk-primary-300: hsl(var(--zbk-primary-h), var(--zbk-primary-s), 78%);
    --zbk-primary-400: hsl(var(--zbk-primary-h), var(--zbk-primary-s), 60%);
    --zbk-primary-500: hsl(var(--zbk-primary-h), var(--zbk-primary-s), 14%);
    --zbk-primary-600: hsl(var(--zbk-primary-h), var(--zbk-primary-s), 8%);
    --zbk-primary-700: hsl(var(--zbk-primary-h), var(--zbk-primary-s), 4%);
  
    --zbk-ink: var(--zbk-accent);
    --zbk-reverse-ink: black;
    --zbk-body-background: var(--zbk-primary-700);
    --zbk-background-obscure: hsla(var(--zbk-primary-h), var(--zbk-primary-s), 10%, 0.975);
  
    .randomized-background-pattern {
      opacity: 0;
    }
  
    --zbk-footer-background: var(--zbk-base-darker);
    --zbk-footer-ink: var(--zbk-ink);
    --zbk-footer-link: var(--zbk-link);
  
    footer .stroke-primary {
      stroke:var(--zbk-ink);
    }
  
    .tracklist {
      background-color: var(--zbk-base-darker) !important;
      color:var(--zbk-ink);
    }
  
    .banner-card  {
      background: var(--zbk-primary);
    }
  
    --zbk-accordion-toggle-ink: var(--zbk-accent) !important;
    --zbk-base-darker: #020202;
    --zbk-base-darkest: black;
  
    --zbk-component-reverse-ink: var(--zbk-accent);
    --zbk-accordion-content-border-color: var(--zbk-accent) !important;
  
    --zbk-focus-color: #ff00ff;
    --zbk-action: cyan;
  
    --zbk-link: #0de6b3;
    --zbk-link-hover: #0de6b3;
    --zbk-link-visited: #fd90b9;
  }