:root {
    --base-spacing-unit: 1rem;
    --spacing-005: calc((var(--base-spacing-unit) * .325) * var(--a11y-spacing-modifier));
    --spacing-05: calc((var(--base-spacing-unit) * .5) * var(--a11y-spacing-modifier));
    --spacing-neg-1: calc(var(--base-spacing-unit) * var(--a11y-spacing-modifier) * -1);
    --spacing-1: calc(var(--base-spacing-unit) * var(--a11y-spacing-modifier));
    --spacing-105: calc((var(--base-spacing-unit) * 1.5) * var(--a11y-spacing-modifier));
    --spacing-2: calc((var(--base-spacing-unit) * 2) * var(--a11y-spacing-modifier));
    --spacing-205: calc((var(--base-spacing-unit) * 2.5) * var(--a11y-spacing-modifier));
    --spacing-3: calc((var(--base-spacing-unit) * 3) * var(--a11y-spacing-modifier));
    --spacing-4: calc((var(--base-spacing-unit) * 4) * var(--a11y-spacing-modifier));
    --spacing-5: calc((var(--base-spacing-unit) * 5) * var(--a11y-spacing-modifier));
    --spacing-6: calc((var(--base-spacing-unit) * 6) * var(--a11y-spacing-modifier));
    --spacing-7: calc((var(--base-spacing-unit) * 7) * var(--a11y-spacing-modifier));
    --spacing-8: calc((var(--base-spacing-unit) * 8) * var(--a11y-spacing-modifier));
    --spacing-9: calc((var(--base-spacing-unit) * 9) * var(--a11y-spacing-modifier));
    --spacing-10: calc((var(--base-spacing-unit) * 10) * var(--a11y-spacing-modifier));
    --spacing-15: calc((var(--base-spacing-unit) * 15) * var(--a11y-spacing-modifier));
    --spacing-20: calc((var(--base-spacing-unit) * 20) * var(--a11y-spacing-modifier));
    --spacing-card: calc((var(--base-spacing-unit) * 25) * var(--a11y-spacing-modifier));
    --spacing-card-lg: calc((var(--base-spacing-unit) * 30) * var(--a11y-spacing-modifier));
    --spacing-mobile: calc((var(--base-spacing-unit) * 35) * var(--a11y-spacing-modifier));
    --spacing-mobile-lg: calc((var(--base-spacing-unit) * 50) * var(--a11y-spacing-modifier));
}