:root {
    --zbk-base-spacing-unit: 1rem;
    --zbk-spacing-005: calc((var(--zbk-base-spacing-unit) * .225) * var(--zbk-a11y-spacing-modifier));
    --zbk-spacing-05: calc((var(--zbk-base-spacing-unit) * .325) * var(--zbk-a11y-spacing-modifier));
    --zbk-spacing-neg-1: calc((var(--zbk-base-spacing-unit) * .5) * var(--zbk-a11y-spacing-modifier) * -1);
    --zbk-spacing-1: calc((var(--zbk-base-spacing-unit) * .5) * var(--zbk-a11y-spacing-modifier));
    --zbk-spacing-105: calc((var(--zbk-base-spacing-unit) * .75) * var(--zbk-a11y-spacing-modifier));
    --zbk-spacing-2: calc((var(--zbk-base-spacing-unit) * 1) * var(--zbk-a11y-spacing-modifier));
    --zbk-spacing-205: calc((var(--zbk-base-spacing-unit) * 1.5) * var(--zbk-a11y-spacing-modifier));
    --zbk-spacing-3: calc((var(--zbk-base-spacing-unit) * 2) * var(--zbk-a11y-spacing-modifier));
    --zbk-spacing-4: calc((var(--zbk-base-spacing-unit) * 3) * var(--zbk-a11y-spacing-modifier));
    --zbk-spacing-5: calc((var(--zbk-base-spacing-unit) * 4) * var(--zbk-a11y-spacing-modifier));
    --zbk-spacing-6: calc((var(--zbk-base-spacing-unit) * 5) * var(--zbk-a11y-spacing-modifier));
    --zbk-spacing-7: calc((var(--zbk-base-spacing-unit) * 6) * var(--zbk-a11y-spacing-modifier));
    --zbk-spacing-8: calc((var(--zbk-base-spacing-unit) * 7) * var(--zbk-a11y-spacing-modifier));
    --zbk-spacing-9: calc((var(--zbk-base-spacing-unit) * 8) * var(--zbk-a11y-spacing-modifier));
    --zbk-spacing-10: calc((var(--zbk-base-spacing-unit) * 9) * var(--zbk-a11y-spacing-modifier));
    --zbk-spacing-15: calc((var(--zbk-base-spacing-unit) * 12) * var(--zbk-a11y-spacing-modifier));
    --zbk-spacing-20: calc((var(--zbk-base-spacing-unit) * 18) * var(--zbk-a11y-spacing-modifier));
    --zbk-spacing-card: calc((var(--zbk-base-spacing-unit) * 25) * var(--zbk-a11y-spacing-modifier));
    --zbk-spacing-card-lg: calc((var(--zbk-base-spacing-unit) * 30) * var(--zbk-a11y-spacing-modifier));
    --zbk-spacing-mobile: calc((var(--zbk-base-spacing-unit) * 35) * var(--zbk-a11y-spacing-modifier));
    --zbk-spacing-mobile-lg: calc((var(--zbk-base-spacing-unit) * 50) * var(--zbk-a11y-spacing-modifier));
}