:root {
    // Fluid + dynamically user-adjustable non-linear type scaling

    // SMALLEST_SIZE: 16px;
    // LARGEST_SIZE: 20px;
    // A11Y_MODIFIER: 1;
    // VIEWPORT_SCALE: .4vw;
    // FONT_SIZE: clamp(
    //    (SMALLEST_SIZE * A11Y_MODIFIER),
    //    ((SMALLEST_SIZE + VIEWPORT_SCALE) * A11Y_MODIFIER),
    //    (LARGEST_SIZE * A11Y_MODIFIER)
    //   )

    --zbk-viewport-modifier: 1vw;

    // Font size 2xs
    --zbk-min-font-size-2xs: 10px;
    --zbk-max-font-size-2xs: 14px;
    --zbk-a11y-font-size-2xs-modifier: 1;
    --zbk-font-size-2xs: clamp(
        calc(var(--zbk-min-font-size-2xs) * var(--zbk-a11y-font-size-2xs-modifier)), calc((var(--zbk-min-font-size-2xs) + var(--zbk-viewport-modifier)) * var(--zbk-a11y-font-size-2xs-modifier)), 
        calc(var(--zbk-max-font-size-2xs) * var(--zbk-a11y-font-size-2xs-modifier))
    );

    // Font size xs
    --zbk-min-font-size-xs: 12px;
    --zbk-max-font-size-xs: 17px;
    --zbk-a11y-font-size-xs-modifier: 1;
    --zbk-font-size-xs: clamp(
        calc(var(--zbk-min-font-size-xs) * var(--zbk-a11y-font-size-xs-modifier)), calc((var(--zbk-min-font-size-xs) + var(--zbk-viewport-modifier)) * var(--zbk-a11y-font-size-xs-modifier)), 
        calc(var(--zbk-max-font-size-xs) * var(--zbk-a11y-font-size-xs-modifier))
    );

    // Font size sm
    --zbk-min-font-size-sm: 14px;
    --zbk-max-font-size-sm: 20px;
    --zbk-a11y-font-size-sm-modifier: 1;
    --zbk-font-size-sm: clamp(
        calc(var(--zbk-min-font-size-sm) * var(--zbk-a11y-font-size-sm-modifier)), calc((var(--zbk-min-font-size-sm) + var(--zbk-viewport-modifier)) * var(--zbk-a11y-font-size-sm-modifier)), 
        calc(var(--zbk-max-font-size-sm) * var(--zbk-a11y-font-size-sm-modifier))
    );

    // Font size md
    --zbk-min-font-size-md: 16px;
    --zbk-max-font-size-md: 24px;
    --zbk-a11y-font-size-md-modifier: 1;
    --zbk-font-size-md: clamp(
        calc(var(--zbk-min-font-size-md) * var(--zbk-a11y-font-size-md-modifier)), calc((var(--zbk-min-font-size-md) + var(--zbk-viewport-modifier)) * var(--zbk-a11y-font-size-md-modifier)), 
        calc(var(--zbk-max-font-size-md) * var(--zbk-a11y-font-size-md-modifier))
    );

    // Font size lg
    --zbk-min-font-size-lg: 24px;
    --zbk-max-font-size-lg: 32px;
    --zbk-a11y-font-size-lg-modifier: 1;
    --zbk-font-size-lg: clamp(
        calc(var(--zbk-min-font-size-lg) * var(--zbk-a11y-font-size-lg-modifier)), calc((var(--zbk-min-font-size-lg) + var(--zbk-viewport-modifier)) * var(--zbk-a11y-font-size-lg-modifier)), 
        calc(var(--zbk-max-font-size-lg) * var(--zbk-a11y-font-size-lg-modifier))
    );

    // Font size xl
    --zbk-min-font-size-xl: 32px;
    --zbk-max-font-size-xl: 48px;
    --zbk-a11y-font-size-xl-modifier: 1;
    --zbk-font-size-xl: clamp(
        calc(var(--zbk-min-font-size-xl) * var(--zbk-a11y-font-size-xl-modifier)), calc((var(--zbk-min-font-size-xl) + var(--zbk-viewport-modifier)) * var(--zbk-a11y-font-size-xl-modifier)), 
        calc(var(--zbk-max-font-size-xl) * var(--zbk-a11y-font-size-xl-modifier))
    );

    // Font size 2xl
    --zbk-min-font-size-2xl: 48px;
    --zbk-max-font-size-2xl: 64px;
    --zbk-a11y-font-size-2xl-modifier: 1;
    --zbk-font-size-2xl: clamp(
        calc(var(--zbk-min-font-size-2xl) * var(--zbk-a11y-font-size-2xl-modifier)), calc((var(--zbk-min-font-size-2xl) + var(--zbk-viewport-modifier)) * var(--zbk-a11y-font-size-2xl-modifier)), 
        calc(var(--zbk-max-font-size-2xl) * var(--zbk-a11y-font-size-2xl-modifier))
    );

    // Font size 3xl
    --zbk-min-font-size-3xl: 64px;
    --zbk-max-font-size-3xl: 80px;
    --zbk-a11y-font-size-3xl-modifier: 1;
    --zbk-font-size-3xl: clamp(
        calc(var(--zbk-min-font-size-3xl) * var(--zbk-a11y-font-size-3xl-modifier)), calc((var(--zbk-min-font-size-3xl) + var(--zbk-viewport-modifier)) * var(--zbk-a11y-font-size-3xl-modifier)), 
        calc(var(--zbk-max-font-size-3xl) * var(--zbk-a11y-font-size-3xl-modifier))
    );
}