:root[data-theme='light'],
[data-theme='light'] {


  /* Code related items */
  /* --sl-color-bg-inline-code: var(--zbk-color-stone-200);

  body {
    background: var(--zbk-app-canvas);
    color: var(--zbk-app-ink);
    font-family: var(--zbk-font-family-body);
  }

  h1,
  h2,
  h3 {
    color: var(--zbk-app-ink-muted);
  } */
}


  body {
    font-family: var(--zbk-font-family-body);
  }


:root {
  /* Default :root is dark mode, sure why not */

  /* Code related items */
  /* --sl-color-bg-inline-code: var(--zbk-color-stone-900);


  body {
    background: var(--zbk-color-global-black);
    color: var(--zbk-app-ink-inverse);
    font-family: var(--zbk-font-family-body);
  }


  h1,
  h2,
  h3 {
    color: var(--zbk-app-ink-inverse-muted);
  } */



}

:global(html) {
  scroll-behavior: smooth;
}