@use 'core/styles/variables/prefix'as prefix;

.focusable:focus,
.focusable:focus-within,
.focusable:focus-visible {
  outline-width: var(--#{prefix.$cssVar}-focus-width);
  outline-offset: var(--#{prefix.$cssVar}-focus-offset);
  outline-color: var(--#{prefix.$cssVar}-focus-color);
}